         <!-- Intro Section -->
<section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1 appdevelopmentposter" data-background-img="../img/Banners/app.jpg">
    <div class="container text-center">
        <div class="row title">
            <h2 class="h2">App Development</h2>

        </div>
    </div>
</section>
<!-- End Intro Section -->
<section id="appdevelopment" class="wow fadeIn pt pt-sm-80">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 offset-md-2">
                <h3 class="h4">WE BUILD CUTTING EDGE RETAIL AND ENTERPRISE APPS ON A VARIETY OF PLATFORMS</h3>
                <div class="spacer-15"></div>
                <p class="lead">We have worked on 150+ Application Product Development and Test projects using various technologies. We have developed solutions using .NET 2.0 through .NET 4.5, used HTML, JavaScript, CSS, Azure, Office Apps, SharePoint, SQL versions, COSMOS, SSIS, SSRS, SSAS, MDX, and Power BI, to name a few.</p>
            </div>
        </div>
    </div>
</section>
<!--content Section-->
<!-- Tabs-->
<section class="ptb-60 ptb-sm-80">
    <div class="container" style="max-width:800px;">

        <div id="tabs" class="tabs b-lrb-none" data-career-tabs>

            <ul class="nav nav-tabs">
                <li class="nav active"><a class="nav-link active" data-toggle="tab" href="#tabs-1" target="_self">Windows & SharePoint Apps</a></li>
                <li class="nav"><a class="nav-link" data-toggle="tab" href="#tabs-2" target="_self">Office Apps</a></li>

            </ul>
            <div class="tab-content">
                <div id="tabs-1" class="tab-pane fade in active">
                    <div class="row">
                        <div class="col-md-4 mt-30">
                            <p class="blurb">We have expertise building retail and enterprise apps for Windows and SharePoint. We have integrated Federated Authentication and used Windows RT encryption in our apps. We have extensive knowledge of JavaScript and C#.</p>
                        </div>
                        <div class="col-md-4 mt-30">
                            <h5>Windows & SharePoint Apps Delivered</h5>
                            <ul class="CircleBullets">
                                <li><a href="https://store.office.com/en-us/app.aspx?assetid=WA103642387&ui=en-US&rs=en-US&ad=US&appredirect=false">Anniversary Timeline</a> – Displays upcoming user anniversaries in a timeline and allows users to send best wishes.</li>
                                <li><a href="https://store.office.com/en-us/app.aspx?assetid=WA103642385&ui=en-US&rs=en-US&ad=US&appredirect=false">Timesheet</a> – Keeps track of day-wise effort spent by employees on various components of a project.Create custom dashboards and transform their underlying databases.</li>
                                
                            </ul>
                        </div>
                        <div class="col-md-4 mt-30">
                            <ul class="CircleBullets">
                                <li><a href="https://store.office.com/en-001/app.aspx?assetid=WA103623707&ui=en-US&rs=en-001&ad=US&appredirect=false">Exam Maker</a> – Simple study utility to create a practice question bank.</li>
                                <li><a href="https://store.office.com/en-001/app.aspx?assetid=WA104223506&ui=en-US&rs=en-001&ad=US&appredirect=false">Meeting Manager</a> – Manage meetings and agendas.</li>
                                <li><a href="https://www.microsoft.com/en-us/store/p/the-bible-gods-holy-book/9wzdncrdf8gw?rtc=1">The Bible</a> – Easily navigate through Bible books, chapters, and verses without all the clutter of websites.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="tabs-2" class="tab-pane fade">
                    <div class="row">
                        <div class="col-md-4 mt-30">
                            <p class="blurb">We have participated in the Office Technology Adoption Program (TAP) and were one of the first organizations on the Office App Store. Our Office apps over 4,000 downloads.</p>
                        </div>
                        <div class="col-md-4 mt-30">
                            <h5>Office Apps Delivered</h5>
                            <ul class="CircleBullets">
                                <li><a href="https://store.office.com/en-us/app.aspx?ui=en-US&rs=en-US&ad=US&assetid=WA104011853&appredirect=false">Save Custom Formula</a> – Allows users to save and retrieve custom formulas.</li>
                                <li><a href="https://store.office.com/en-us/app.aspx?ui=en-US&rs=en-US&ad=US&assetid=WA103755433&appredirect=falsee">TaskIt</a> – A great to do list.</li>
                                

                            </ul>
                        </div>
                        <div class="col-md-4 mt-30">
                            <ul class="CircleBullets">
                                <li><a href="https://store.office.com/en-us/app.aspx?ui=en-US&rs=en-US&ad=US&assetid=WA104019807&appredirect=false">Unit Converter</a> – Converts a wide range of units for common measurements.</li>
                                <li><a href="https://store.office.com/en-us/app.aspx?ui=en-US&rs=en-US&ad=US&assetid=WA103699714&appredirect=false">WordCalc</a> – A mathematical expression solver for Microsoft Word 2013.</li>
                                <li><a href="https://store.office.com/en-us/app.aspx?ui=en-US&rs=en-US&ad=US&assetid=WA103795939&appredirect=false">Word of the Day</a> – Learn a new word every day.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>








<!--content Section-->
<!--
<section id="client-logos" class="wow fadeIn pb-110 ptb-sm-80">
    <div class="container">
        <div class="owl-carousel client-carousel nf-carousel-theme ">
            <div class="item">
                <div class="client-logo">
                    <a href="https://www.apple.com/ios/ios-10/" target="_blank"><img title="App Store" src="../img/App Development/AppStore8_2x.png" alt="App Store" /></a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a href="https://play.google.com/store" target="_blank"><img title="Google Play" src="../img/App Development/Google_Play_logo.png" alt="Google Play" /></a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a href="https://products.office.com/" target="_blank"><img title="Microsoft Office" src="../img/App Development/Office.png" alt="Microsoft Office" /></a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a href="https://www.microsoft.com/en-us/store/" target="_blank"><img title="Windows" src="../img/App Development/Windows-8.png" alt="Windows" /></a>
                </div>
            </div>
        </div>
    </div>
</section>
-->