         <!-- Intro Section -->
<section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1 appdevelopmentposter" data-background-img="../img/Banners/app.jpg">
    <div class="container text-center">
        <div class="row title">
            <h2 class="h2">App Development</h2>

        </div>
    </div>
</section>
<!-- End Intro Section -->
<!--<section id="appdevelopment" class="wow fadeIn pt pt-sm-80">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 offset-md-2">
                <h3 class="h4">We Creative digital Studio</h3>
                <div class="spacer-15"></div>
                <p class="lead">Integer tincidunt Cras dapibus. <a class="tipped" data-title="Sample Text" data-tipper-options='{"direction":"top"}'><b>Vivamus elementum</b></a> ultricies nisi vel augue. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante dapibus.</p>
            </div>
        </div>
    </div>
</section>
<section class="pt pb-40 ptb-sm-80">
    <div class="container">
        <img style="margin-left:20px;" alt="App Development" src="../img/Graphics/ai_graphic.png">
    </div>
</section>-->
<!--content Section-->
<section id="appdevelopment" class="wow fadeIn pb-110 pt pt-sm-80">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-8 offset-md-2" id="">
                <!--<article class="LeftArticle">-->
                    <p class="lead">We have worked on 150+ Application Product Development and Test projects in various technologies. We have developed solutions using .NET 2.0 through .NET 4.5, used HTML, JavaScript, CSS, Azure, Office Apps, SharePoint, SQL versions, COSMOS, SSIS, SSRS, SSAS, MDX, and Power BI, to name a few.</p>
                <div class="spacer-60"></div>    
                <section class="OverflowHide">
                        <i><p class="DataSubContent Color3f3f3f">Windows App Development</p></i>
                        <p class="Pad10">We have expertise in building both retail and enterprise apps for Windows. We have integrated Federated Authentication, SharePoint Online, and used Windows RT encryption in our apps. We have expertise in using both JavaScript and C# in our apps.</p>
                        <!--<div class="SliderHolder m30">
                            <p class="AppDevSliderLabel FloatLeft">Windows Apps Delivered</p>
                            <div class="AppDevSlider FloatRight">
                                <div id="Win8LeftArrow" class="AppDevNavLeftArrow FloatLeft">
                                </div>
                                <div id="Win8Slider" class="AppDevContent FloatLeft">
                                    <div class="AppSliderContentWrapper">
                                        <a target="_blank" href="http://apps.microsoft.com/windows/en-us/app/f2c85ade-0f2f-4dac-9c34-02c5bad491d9">
                                            <img id="Win8Img1" alt="New Year Resolutions" title="New Year Resolutions" src="../img/App Development/NYR.png" />
                                        </a>
                                        <a target="_blank" href="http://apps.microsoft.com/windows/en-us/app/0bac01a1-c46d-4198-b20b-1b3052f251e8">
                                            <img id="Win8Img2" alt="Croatian Dialogs" title="Croatian Dialogs" src="../img/App Development/CroatianDialogs.png" />
                                        </a>
                                        <a target="_blank" href="http://apps.microsoft.com/windows/en-us/app/11eb14fe-600a-4232-b553-80ba426707a4">
                                            <img id="Win8Img3" alt="Memories" title="Memories" src="../img/App Development/Memories.png" />
                                        </a>
                                        <a target="_blank" href="http://apps.microsoft.com/windows/en-us/app/3a13eef2-c386-43a8-9483-a702792c7966">
                                            <img id="Win8Img4" alt="Unit Convertor" title="Unit Convertor" src="../img/App Development/UnitConvertor.png" />
                                        </a>
                                        <a target="_blank" href="http://apps.microsoft.com/windows/en-us/app/291b5a9c-9092-4d53-b370-2efd217e7541">
                                            <img id="Win8Img5" alt="The Bible" title="The Bible" src="../img/App Development/TheBible.png" />
                                        </a>
                                    </div>
                                </div>
                                <div id="Win8RightArrow" class="AppDevNavRightArrow FloatLeft">
                                </div>
                            </div>
                        </div>-->
                    </section>
                <div class="spacer-60"></div>    
                    <section class="Clear m30 OverflowHide">
                        <p class="DataSubContent Color3f3f3f"><i>Office App Development</i></p>
                        <p class="Pad10">We have been a part of the Office Technology Adoption Program (TAP) and one of the first organizations to have our app on the Office App Store. With over 4,000 downloads across SharePoint and Office apps, we have built our expertise in this area.</p>
                        <!--<div class="SliderHolder m30">
                            <p class="AppDevSliderLabel FloatLeft">Office Apps Delivered</p>
                            <div class="AppDevSlider FloatRight">
                                <div id="OfficeLeftArrow" class="AppDevNavLeftArrow FloatLeft">
                                </div>
                                <div id="OfficeContent" class="AppDevContent FloatLeft">
                                    <div class="AppSliderContentWrapper">
                                        <a target="_blank" href="https://store.office.com/save-custom-formula-WA104011853.aspx">
                                            <img alt="Formula Green Excel" title="Formula Green Excel" src="../img/App Development/FormulaGreenExcel.png" />
                                        </a>
                                        <a target="_blank" href="https://store.office.com/taskit-WA103755433.aspx">
                                            <img alt="Task It" title="Task It" src="../img/App Development/TaskItLogoWord.png" />
                                        </a>
                                        <a target="_blank" href="https://store.office.com/unit-converter-WA104019807.aspx">
                                            <img alt="Unit Convertor Excel" title="Unit Convertor Excel" src="../img/App Development/UnitConverterExcel.png" />
                                        </a>
                                        <a target="_blank" href="https://store.office.com/wordcalc-WA103699714.aspx">
                                            <img alt="Word Calc" title="Word Calc" src="../img/App Development/WordCalcLogoWord.png" />
                                        </a>
                                        <a target="_blank" href="https://store.office.com/word-of-the-day-WA103795939.aspx">
                                            <img alt="Word of the day" title="Word of the day" src="../img/App Development/WordOfTheDayExcel.png" />
                                        </a>
                                    </div>
                                </div>
                                <div id="OfficeRightArrow" class="AppDevNavRightArrow FloatLeft">
                                </div>
                            </div>
                        </div>-->
                    </section>
                <div class="spacer-60"></div>    
                    <p class="SemiBold m30">Apps on the <a class="SliderArrow BackLink" target="_blank" href="https://store.office.com/">Office Store</a></p>
                <!--</article>-->
            </div>
        </div>
    </div>
</section>

<!--content Section-->
<section id="client-logos" class="wow fadeIn pb-110 ptb-sm-80">
    <div class="container">
        <div class="owl-carousel client-carousel nf-carousel-theme ">
            <div class="item">
                <div class="client-logo">
                    <a href="https://www.apple.com/ios/ios-10/" target="_blank"><img title="App Store" src="../img/App Development/AppStore8_2x.png" alt="App Store" /></a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a href="https://play.google.com/store" target="_blank"><img title="Google Play" src="../img/App Development/Google_Play_logo.png" alt="Google Play" /></a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a href="https://products.office.com/" target="_blank"><img title="Microsoft Office" src="../img/App Development/Office.png" alt="Microsoft Office" /></a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a href="https://www.microsoft.com/en-us/store/" target="_blank"><img title="Windows" src="../img/App Development/Windows-8.png" alt="Windows" /></a>
                </div>
            </div>
        </div>
    </div>
</section>
