<!-- Intro Section -->
<section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1 artificialintelligenceposter" data-background-img="../img/Banners/AI.jpg">
    <div class="container text-center">
        <div class="row title">
            <h2 class="h2">Artificial Intelligence</h2>

        </div>
    </div>
</section>
<!-- End Intro Section -->
<section id="about" class="wow fadeIn pt pt-sm-80">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 offset-md-2">
                <h3 class="h4">INTELLIGENT SOFTWARE THAT OBSERVES, ANALYZES,LEARNS, AND ASSISTS</h3>
                <div class="spacer-15"></div>
                <p class="lead">AI expands business capabilities, allowing you to cut costs, gain insights, and improve productivity. It eliminates routine tasks, continually improving processes, and allowing you to focus on creativity and growth. Below are ways AI can help you.</p>
            </div>
        </div>
        <div class="row ptb ptb-sm-80">
            <div class="wow fadeInLeft pt-40 col-md-3  pt-sm-0" style="padding-left:0px; padding-right:0px;">
                <div class="features-box-right">
                    <h5>Predictive Analytics</h5>
                    <p>Propensity to convert a customer from trial to paid</p>
                </div>
                <div class="features-box-right">
                    <h5>Reccomendation Analytics</h5>
                    <p>Propensity of a customer to buy a particular product</p>
                </div>
                <div class="features-box-right">
                    <h5>Intelligent Applications</h5>
                    <p>Support ticket prioritization</p>
                </div>
                <div class="features-box-right">
                    <h5>Smart Bot Framework</h5>
                    <p>Voice-enabled training bot</p>
                </div>

            </div>
            <div class="wow fadeIn col-md-6 text-center hidden-sm" style="padding-left:0px; padding-right:0px;">
                <img src="../img/Graphics/ai-circle.png" />
            </div>
            <div class="wow fadeInRight col-md-3 pt-80 pt-sm-0" style="padding-left:0px; padding-right:0px;">
                <div class="features-box-left">
                    <h5>Text Analytics</h5>
                    <p>Email sentiment analysis</p>
                </div>
                <div class="features-box-left">
                    <h5>Cognitive APIs</h5>
                    <p>Face recognition</p>
                </div>
                <div class="features-box-left">
                    <h5>Media Analytics</h5>
                    <p>Video insights</p>
                </div>
                <div class="features-box-left">
                    <h5>Speach Recognition</h5>
                    <p>Voice-enabled data search</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--
<section class="ptb ptb-sm-80">
    <div class="container text-center">
        <h3>Case Studies</h3>
        <div class="spacer-60"></div>
        <!-Team Carousel ->
        <div class="row">
            <div class="owl-carousel team-carousel nf-carousel-theme">
                <div class="item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="../img/team/people-1.jpg" alt="" />
                            <div class="team-item-detail">
                                <div class="team-item-detail-inner light-color">
                                    <h5>Case Study 1</h5>
                                    <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                    <ul class="social">
                                        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team-item-info">
                            <h5>Case Study 1</h5>
                            <p class="">Tagline</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="../img/team/people-2.jpg" alt="" />
                            <div class="team-item-detail">
                                <div class="team-item-detail-inner light-color">
                                    <h5>Case Study 2</h5>
                                    <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                    <ul class="social">
                                        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team-item-info">
                            <h5>Case Study 2</h5>
                            <p class="">Tagline</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="../img/team/people-3.jpg" alt="" />
                            <div class="team-item-detail">
                                <div class="team-item-detail-inner light-color">
                                    <h5>Case Study 3</h5>
                                    <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                    <ul class="social">
                                        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team-item-info">
                            <h5>Case Study 3</h5>
                            <p class="">Tag Line</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <-End Team Carousel ->
    </div>
</section>
-->
<!-- End Team -->