<!-- Intro Section -->
<!-- Intro Video Section -->
<!--<div id="video" class="ytp-player" data-property="{videoURL:'https://www.youtube.com/v/mgyfCETF1lA',containment:'#intro', showControls:true, autoPlay:true, loop:true, mute:true, startAt:1, opacity:1, addRaster:false, quality:'default'}"></div>
-->
<section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1" data-background-img="../img/Banners/career.jpg">
    <div class="container">
        <div class="row title">
            <h2 class="h2">Careers</h2>

        </div>
    </div>
</section>
<!-- End Intro Section -->


<!-- Overview -->
<section id="about" class="wow fadeIn pt pt-sm-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row pb-30">
                    <div class="col-md-12 post-media">
                        <iframe width="912px" height="513px" src="https://www.youtube.com/embed/mgyfCETF1lA?autoplay=1&color=white&loop=1&rel=0&controls=2&enablejsapi=1&fs=0&showinfo=0" frameborder="0" allowfullscreen autoplay="1" color="white" loop="1" rel="0"></iframe>
                    </div>
                </div>
                <div class="row text-center pb-80 pt-60">
                    <div class="col-md-12 ">
                        <h3 class="h4">WHY DO A-PLAYERS CHOOSE TO WORK WITH US?</h3>
                        <div class="spacer-15"></div>
                        <p class="lead">All of us hold Computer Science and Engineering degrees from top universities in the US and in India. Many staff members have earned advanced degrees in Computer Science and management. In addition, we complete required Microsoft and Amazon Web Services certifications every year to stay technically proficient. Our company has the highest density in the industry of Agile Certified Practitioners (ACP) by Project Management Institute (PMI).</p>
                    </div>
                    </br>
                    </br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Professional Growth</h4>
                            <ul>
                                <li>Substantial responsibilities at an early stage of the career</li>
                                <li>Exposure to all aspects of delivery lifecycle and project management</li>
                                <li>Continuous learning</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Type of work</h4>
                            <ul>
                                <li>Exciting and challenging work</li>
                                <li>Exposure to the latest and variety of technologies</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Company culture</h4>
                            <ul>
                                <li>Transparency, lack of bureaucracy</li>
                                <li>Ownership and accountability</li>
                                <li>Autonomy (with seniority)</li>
                                <li>Peers with strong technical background</li>
                                <li>Supportive managers with technical know-how</li>
                                <li>There is never a dull moment (fast paced work)</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <h4>Contact Information</h4>
                    </div>
                    <div class="row pb-15">
                        For positions in Redmond,<br>
                        e-mail your resume to
                        <a href="mailto:RedmondJobs@MAQSoftware.com"> RedmondJobs@MAQSoftware.com</a>
                    </div>
                    <div class="row">
                        For positions in India,<br>
                        e-mail your resume to
                        <a href="mailto:IndiaJobs@MAQSoftware.com"> IndiaJobs@MAQSoftware.com</a>
                    </div>
                </div>
            </div>
            <div class="row ptb-60">
                <div class="col-md-5">
                    <p>
                        If you are offered a position with our company, we
                        will provide you copies of <a href="http://www.iitbook.com/"><i>What I Did Not Learn at IIT</i></a> and <a href="https://mbabook.in/"><i>What I Did Not Learn in B-School</i></a>.
                        Many successful candidates found these two books useful in understanding our customers’ expectations,
                        our work, and our point of view. We advise you to not accept our position unless you have reviewed the books.
                    </p>
                </div>
                <div class="col-md-5 offset-md-1">
                    <img src="../img/Careers/careersbooks.png">
                </div>
            </div>
        </div>
</section>
<!-- Job Section -->
<section class="pb ptb-sm-80">
    <div class="container">

        <div id="tabs" class="b-lrb-none" data-career-tabs>            
            <ul class="nav nav-tabs">
                <li class="nav active"><a class="nav-link active" data-toggle="tab" href="#tabs-1" target="_self">Redmond</a></li>
                <li class="nav"><a class="nav-link" data-toggle="tab" href="#tabs-2" target="_self">India</a></li>
            </ul>          
            <div class="tab-content">
                <div id="tabs-1" class="tab-pane fade in active">
                    <div class="accordion">
                        <div class="accordion-section">
                            <h6 class="accordion-title">Engineering Development Manager</h6>
                            <div class="accordion-content">
                                <p class="DataSubContent">
                                    MAQ Software has an opening for Engineering Development Manager at Redmond, WA.
                                    Your key result areas as percentage of your overall work items will be:
                                </p>
                                <ul class="DataSubContent CircleBullets">
                                    <li>
                                        Manage resource, direct and coordinate technical activities to develop and deliver
                                        web
                                        application projects in Cloud Computing and Microsoft.Net platform to meet specific
                                        client
                                        needs and define the scope of each assigned project
                                    </li>
                                    <li>Direct, review and approve product design and changes</li>
                                    <li>Responsible to track for multiple releases and deliveries for product groups</li>
                                    <li>Direct Architecture development and provide IT solutions</li>
                                    <li>
                                        Resource management by recruiting, assigning, mentoring IT professionals to ensure
                                        optimal
                                        performance per scheduled deadlines
                                    </li>
                                    <li>Performance management including annual performance reviews and professional growth</li>
                                    <li>
                                        Review Request for Proposals, formulate project plan specifications and provide
                                        cost
                                        estimations
                                    </li>
                                    <li>
                                        Provide technical pre-sales support to sales team to provide IT solutions to meet
                                        client
                                        demands
                                    </li>
                                </ul>
                                <p class="SemiBold Color3f3f3f DataSubContent">Candidate Profile</p>
                                <ul class="DataSubContent CircleBullets">
                                    <li>
                                        Master’s Degree or foreign equivalent in Computer Science, CIS, Management, MIS,
                                        Engineering (any), or related field plus 2 years’ experience or Bachelor’s degree
                                        plus 5 years’
                                        experience
                                    </li>
                                    <li>
                                        Must be able to travel temporarily to client sites with expenses paid by the employer
                                        and/or
                                        relocate throughout the U.S.
                                    </li>
                                </ul>
                                <p class="SemiBold Color3f3f3f DataSubContent">
                                    Please send resume to MAQ Software, 15446 Bel Red Road, # 201, Redmond, WA 98052,
                                    Attn: H.R.
                                    Manager.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-section">
                            <h6 class="accordion-title">Programmer Analyst</h6>
                            <div class="accordion-content">
                                <p class="DataSubContent">
                                    Programmer Analyst will be required to:
                                </p>
                                <ul class="DataSubContent CircleBullets">
                                    <li>Analyze, develop and write codes to implement system applications</li>
                                    <li>
                                        Additionally, will assist in providing software support to projects that include programming, testing, debugging, and modifying software to meet
                                        customer specifications
                                    </li>
                                </ul>
                                <p class="DataSubContent SemiBold Color3f3f3f">Candidate Profile</p>
                                <ul class="CircleBullets DataSubContent">
                                    <li>Requires Bachelor’s Degree or foreign equivalent in Computer Science, Computer Applications, Computer Information Systems, Electrical/Electronic Engineering or related field with 2 years of work experience in job offered, software engineer, system analyst or related work</li>
                                </ul>
                                <p class="DataSubContent">
                                    May require travel to client sites within the U.S. with expenses paid by employer and or relocate throughout the U.S.
                                </p>
                                <p class="DataSubContent SemiBold Color3f3f3f">
                                    Send resume to 15446 Bel Red Road, #201, Redmond, WA 98052, Attn: H.R. Manager.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-section">
                            <h6 class="accordion-title">Program Manager</h6>
                            <div class="accordion-content">
                                <p class="DataSubContent">
                                    Your key result areas as percentage of your overall work items will be:
                                </p>
                                <ul class="CircleBullets DataSubContent">
                                    <li>
                                        Managing and working closely with the development and test team to help define the
                                        requirements and feature sets
                                    </li>
                                    <li>
                                        Analyzing customer data, gathering feedback and ensuring that the product meets
                                        user requirements
                                    </li>
                                    <li>
                                        Supporting multiple release schedules throughout the project while handling all
                                        PM
                                        daily tasks
                                    </li>
                                </ul>
                                <p class="DataSubContent">
                                    We are looking for an experienced and highly motivated Project Manager, with broad
                                    experience in e-commerce based and/or smart client products, solid technical skills,
                                    excellent communication skills, and a track record of shipping great products. Not
                                    only
                                    will this position require taking on a critical role on a high-performance team
                                    but you will
                                    help to develop an industry altering product with over a million hits a day.
                                </p>
                                <p class="DataSubContent SemiBold Color3f3f3f">Candidate Profile</p>
                                <ul class="CircleBullets DataSubContent">
                                    <li>3 to 5 years as a Project Manager with strong leadership skills</li>
                                    <li>Bachelor's or equivalent degree in related field desired</li>
                                    <li>
                                        Strong understanding of Project Management and the ability to handle multiple
                                        projects and challenges
                                    </li>
                                    <li>
                                        Strong technical background in .NET and Microsoft platform with the ability to
                                        develop specifications and partner with development and test teams
                                    </li>
                                    <li>
                                        Excellent communication skills, both verbal and written, with an ability to communicate
                                        difficult technical and business concepts to both technical and non-technical users
                                    </li>
                                    <li>Previous Microsoft experience is a plus</li>
                                </ul>
                                <p class="DataSubContent SemiBold Color3f3f3f">
                                    Please send resume to MAQ Software, 15446 Bel Red Road, # 201, Redmond, WA 98052,
                                    Attn: H.R.
                                    Manager.
                                </p>

                            </div>
                        </div>
                        <div class="accordion-section">
                            <h6 class="accordion-title">Content Editor</h6>
                            <div class="accordion-content">
                                <p class="DataSubContent">
                                    Your key result areas as percentage of your overall work items will be:
                                </p>
                                <ul class="CircleBullets DataSubContent">
                                    <li>
                                        Website Editing: Utilize knowledge of web architecture, user interface design, MS
                                        editorial standards, and web publishing practices to build and implement new content
                                        areas/site features/graphics, individually or in conjunction with other development
                                        resources
                                    </li>
                                    <li>
                                        Editing and proofing submitted content and ensuring compliance with corporate style
                                        and legal guidelines
                                    </li>
                                    <li>
                                        Utilize knowledge of web architecture to spec out and implement small content
                                        areas/site features, individually or in conjunction with development resources
                                    </li>
                                </ul>
                                <p class="DataSubContent">
                                    We are seeking long-term contractor(s) to manage customer Internet sites for a large
                                    Redmond software company. The website Producer/Editor will help develop and manage
                                    content. This position is ideal for a strong website editor and content developer
                                    with
                                    previous experience interfacing with MSCOM and SharePoint.
                                </p>
                                <p class="DataSubContent SemiBold Color3f3f3f">Candidate Profile</p>
                                <ul class="CircleBullets DataSubContent">
                                    <li>One year minimum experience writing or producing web content required</li>
                                    <li>
                                        Two years minimum editorial/writing experience and demonstrated knowledge of
                                        grammar, spelling and style required
                                    </li>
                                    <li>Hands-on experience with HTML required. XML knowledge is useful </li>
                                    <li>Knowledge of website architecture and user interface principles a plus </li>
                                    <li>
                                        Knowledge of the MS server platform and general knowledge of Microsoft
                                        environment a plus
                                    </li>
                                </ul>
                                <p class="DataSubContent SemiBold Color3f3f3f">
                                    Please send resume to MAQ Software, 15446 Bel Red Road, # 201, Redmond, WA 98052,
                                    Attn: H.R.
                                    Manager.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-section">
                            <h6 class="accordion-title">Web Application Developer</h6>
                            <div class="accordion-content">
                                <p class="DataSubContent">
                                    Your key result areas as percentage of your overall work items will be:
                                </p>
                                <ul class="DataSubContent CircleBullets">
                                    <li>Web application development using C#, XML, .NET </li>
                                    <li>Database design (advanced skills in writing queries and stored procedures)</li>
                                    <li>Understand functional requirements </li>
                                    <li>Interact with graphic designers</li>
                                    <li>Write technical documentation such as design and design rationale documents</li>
                                    <li>Participate in test case generation, design, and code reviews</li>
                                    <li>Debug, handle client requests, etc.</li>
                                </ul>
                                <p class="DataSubContent">
                                    Design and build enterprise web applications using C#, XML and .NET
                                </p>
                                <p class="DataSubContent SemiBold Color3f3f3f">Candidate Profile</p>
                                <ul class="DataSubContent CircleBullets">
                                    <li>Computer Science engineering/MCA degree with excellent academic credentials</li>
                                    <li>2-5 years experience in reputed software companies</li>
                                    <li>Experience in C# language and .NET platform </li>
                                    <li>Strong foundation in SDLC concepts and exposure to quality processes </li>
                                </ul>
                                <p class="DataSubContent SemiBold Color3f3f3f">
                                    Please send resume to MAQ Software, 15446 Bel Red Road, # 201, Redmond, WA 98052,
                                    Attn: H.R.
                                    Manager.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-section">
                            <h6 class="accordion-title">Systems Engineer</h6>
                            <div class="accordion-content">
                                <p class="DataSubContent">
                                    Your key result areas as percentage of your overall work items will be:
                                </p>
                                <ul class="DataSubContent CircleBullets">
                                    <li>Maintain and support IT systems based on Windows 10, Windows Server 2012 R2, SQL Server 2016, and .NET technology</li>
                                    <li>Key areas of expertise will include IIS website management in production, Active Directory, security, server monitoring, and network infrastructure</li>
                                    <li>Provide technical engineering support for the implementation, integration, and evolution of complex systems architectures</li>
                                    <li>Design and maintain Internet services support strategies</li>
                                    <li>
                                        Provide systems statistical trending and analysis, server capacity and threshold testing, systems documentation maintenance,
                                        and the analysis and evaluation of new systems designs and technical strategies
                                    </li>
                                    <li>Troubleshoot complex issues, identify root causes and develop mitigation options</li>
                                    <li>Provide operations and production support to ensure continuous availability of systems</li>
                                    <li>Utilize best practices to continually evaluate system performance for possible areas of improvement</li>
                                    <li>Disaster recovery, automate backups, security analysis, and systems reviews</li>
                                    <li>Create on-going documentation of the environments as they evolve</li>
                                </ul>
                                <p class="DataSubContent SemiBold Color3f3f3f">Candidate Profile</p>
                                <ul class="DataSubContent CircleBullets">
                                    <li>A minimum of two-three years experience in supporting Windows Servers in a Microsoft platform based data center environment</li>
                                    <li>Working knowledge of Active Directory, XML, .NET Framework, TCP/IP, and SQL Server</li>
                                    <li>Knowledge of application hosting and support including basic security concepts</li>
                                    <li>Strong interpersonal and communications skills</li>
                                    <li>Bachelor's or equivalent degree in related field desired</li>
                                    <li>Current Microsoft Certified System Engineer (MCSE) required</li>
                                </ul>
                                <p class="DataSubContent SemiBold Color3f3f3f">
                                    Please send resume to MAQ Software, 15446 Bel Red Road, # 201, Redmond, WA 98052,
                                    Attn: H.R.
                                    Manager.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-section">
                            <h6 class="accordion-title">Development Operations Engineer</h6>
                            <div class="accordion-content">
                                <p class="DataSubContent">
                                    MAQ LLC dba MAQ Software has openings for Development Operations Engineer at its office in Redmond, WA.
                                </p>
                                <p class="DataSubContent">
                                    Will be responsible for software architecture, development, testing and integration with web and database servers. Develop software to automate deployment and server infrastructure management. Automate test cases, debug and fix errors in server applications and infrastructure.
                                </p>
                                <p class="DataSubContent">
                                    Requires Master’s Degree or foreign equivalent in Computer Science, Computer Engineering, Management Information Systems or related IT field. Must be able to travel temporarily to client sites and /or relocate throughout the U.S.
                                </p>
                                <p class="DataSubContent SemiBold Color3f3f3f">
                                    Send resume to 15446 Bel Red Road, #201, Redmond, WA 98052, Attn: H.R. Manager.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tabs-2" class="tab-pane fade">
                    <!-- Accordion -->
                    <div class="accordion LoadingHeight Loading">
                        <!--<div class="accordion-section">
                            <h6 class="accordion-title">Software Engineer</h6>
                            <div class="accordion-content">
                                <div class="MsoNoSpacing">MAQ Software delivers innovative software applications for Fortune 500 companies to increase their productivity. Our solutions use Big Data and advanced Business Intelligence features of SQL Server 2014, the latest cloud computing trends including Amazon Web Services, Windows Azure, and the latest form factors such as iOS and Android. Leading business magazine <i>Inc.</i> has listed us as one of the fastest growing companies for seven years (a <i>rare</i> honor).</div>
                                <div class="MsoNoSpacing">As part of our fast-paced team, you will help deliver over 100 software solutions every year in an <i>agile</i> and <i>fast-paced</i> manner. As a part of the project-based consulting organization, you will get exposure to multiple projects using the latest technologies. The company employs over 500 people in three engineering centers located in Redmond, WA, and India (Hyderabad and Mumbai). As a key member of a dynamic and fast-moving team, you will take part in sprint planning, product definition, and software implementation.</div>
                                </br>
                                <div class="MsoNoSpacing"><b>Engineering Culture:</b></div>
                                <div class="MsoNoSpacing">We foster an intense work culture with a can-do attitude. All of our key managers come from excellent educational backgrounds and have significant experience growing a company and mentoring software engineers. Due to our smaller size, we adopt the latest technologies and computing trends ahead of the larger industry players. As a part of the company's globally distributed engineering team, our engineers gain exposure to the latest software engineering practices and fast development cycles.</div>
                                <ul class="MarginTop5 CircleBullets">
                                    <li>One of our clients has recently made huge investments in marketing and sales using social media platforms such as Facebook and Twitter. The client wants to see which of these social networks are producing positive outcomes and providing key opportunities. The data is the entire universe of social data, and reports need to mine through each entry to identify strengths and weaknesses. The consolidated, cleaned and transformed data needs to be presented using an HTML5 platform that can be accessed using both portable and fixed devices.<br></li>
                                    <li>Display web site traffic data for ten million users per day. To display the web traffic pattern, you need to evaluate front end technology alternatives (native HTML5 controls or Power BI and so on). Some of your considerations will be development and testing effort, browser compatibility, rendering speed, database connectivity, and load time. You have to come up with the optimal approach and implement it within three weeks. Some of the tools used are Visual Studio and SQL Server 2014.<br></li>
                                    <li>For another client, we developed a Business Intelligence solution to pull high volume data (more than 150 million rows) from source tables to a staging environment efficiently. We developed visually rich reports that allow business users to analyze the data from a different perspective and do what-if analysis based on business needs. We developed ETL packages to pull a high volume of data in 30 minutes and developed reports using HTML5-based controls with optimal page performance.<br></li>
                                </ul>
                                <div>
                                    <div>
                                        <b><strong>Job Responsibilities:</strong></b>
                                    </div>
                                    <div>
                                        <b><strong>Gather Software requirements (~20%)</strong></b>
                                    </div>
                                    <ul class="MarginTop5 CircleBullets">
                                        <li>Participate in regular conference calls with onsite and customer team</li>
                                        <li>Understand business needs to develop software requirements</li>
                                        <li>Elicit requirements from onsite team and customer team</li>
                                        <li>Develop iterative prototypes based on requirements</li>
                                    </ul>
                                    <div>
                                        <b><strong>Application development using C#, Microsoft SQL Server, Business Intelligence, ASP.NET, and Cloud Computing (~55%)</strong></b>
                                    </div>
                                    <ul class="MarginTop5 CircleBullets">
                                        <li>Design and develop software architecture that is reliable, scalable, and high performance</li>
                                        <li>Identify design alternatives and conduct technical feasibility</li>
                                        <li>Develop proof of concepts for technical evaluation and early customer feedback</li>
                                        <li>Develop algorithms to convert functional specifications into software design</li>
                                        <li>Write code and document it</li>
                                    </ul>
                                    <div>
                                        <b><strong>Quality Control and Quality Assurance (~15%)</strong></b>
                                    </div>
                                    <ul class="MarginTop5 CircleBullets">
                                        <li>Ensure quality of code as per standards, quality tools, and best practices</li>
                                        <li>Ensure the consistency between the defined requirements, the implementation of the business logic, and the user's experience in interacting with the application</li>
                                        <li>Write test cases to test end-to-end solution</li>
                                        <li>Debug, monitor, and troubleshoot solutions</li>
                                        <li>Test solutions end to end</li>
                                        <li>Deploy the solution and verify customer readiness</li>
                                        <li>Conduct peer code reviews</li>
                                    </ul>
                                    <div>
                                        <b><strong>Training and certifications (~10%)</strong></b>
                                    </div>
                                    <ul class="MarginTop5 CircleBullets">
                                        <li>Participate in technical trainings and clear relevant certifications in Data Platform, Data Analytics, and Cloud Platform</li>
                                        <li>Training using online platforms like Coursera and edX</li>
                                    </ul>
                                    <div>
                                        <b><strong>Candidate Profile</strong></b>
                                    </div>
                                    <div>
                                        <b><strong>Eligible Branches:</strong></b>
                                    </div>
                                    <ul class="MarginTop5 CircleBullets">
                                        <li>B. Tech./ B.E. (CSE/ IT)</li>
                                        <li>M. Tech. (CS/ IT)</li>
                                        <li>BCA + MCA/ B.Sc. (IT) + MCA/ B.Sc. (CS) + MCA</li>
                                    </ul>
                                    <div>
                                        <b><strong>Eligibility criteria:</strong></b>
                                    </div>
                                    <ul class="MarginTop5 CircleBullets">
                                        <li>60% plus or equivalent in Computer Science/Information Technology</li>
                                    </ul>
                                </div>
                                <div><b><span class="wn-chrome-bold">Why consider MAQ Software?</span></b></div>
                                <ul class="MarginTop5 CircleBullets">
                                    <li>Work on fairly complex projects for Fortune 500 companies on the latest software platform (Visual Studio 2015, SQL Server 2014, SharePoint 2013, SharePoint Online, Cloud, Business Intelligence, and HTML5/CSS3)</li>
                                    <li>Deliver 4 - 6 projects in a typical year to gain great experience and a develop a strong resume</li>
                                    <li>Follow latest software engineering techniques including&nbsp;<b>Agile</b> and&nbsp;<b>Lean</b> development techniques which empowers you to contribute to your fullest potential</li>
                                    <li><b><span class="wn-chrome-bold">Highly rated training program -&nbsp;</span></b>Our intense training program prepares you to join live projects as early as possible after joining the company</li>
                                </ul>
                                <div><b>Location</b>: Hyderabad/Mumbai</div>
                            </div>
                        </div>
                        <div class="accordion-section">
                            <h6 class="accordion-title">Systems Engineer</h6>
                            <div class="accordion-content">
                                <div class="MsoNoSpacing">We are looking for highly motivated <b>Systems Engineers</b>. The position requires strong technical and communication skills. As a Systems Engineer you will be working on latest Microsoft products/technologies like Windows 10, Office 2016, Visual Studio 2015, SQL Server 2016 etc.</div>
                                </br>
                                <b>Responsibilities</b>
                                </br>
                                <ul class="MarginTop5 CircleBullets">
                                    <li>Monitor systems, network, and functions</li>
                                    <li>Support hundreds of production Windows machines in a 24X7 shift model</li>
                                    <li>Maintain machines and other office equipment</li>
                                    <li>Manage Hardware inventory</li>
                                    <li>Manage Local Area Network</li>
                                    <li>Identify and document common recovery procedures for service impacting incidents</li>
                                    <li>Establish and follow a ROB (Rhythm of Business) to ensure that all break/fix issues are resolved in a timely manner or escalated to the appropriate group</li>
                                    <li>Develop, communicate and drive Service Improvement Plans to maintain an environment of continuous improvement with a focus on rapid growth, world-class quality, and cost efficacy</li>
                                    <li>Drive operational aspects of incident management, ensuring SLAs for time, quality, and customer satisfaction are met for our global infrastructure</li>
                                    <li>Manage customer interaction with utmost professionalism, courtesy, and responsiveness</li>
                                </ul>
                                <div class="MsoNoSpacing"><b><strong>Candidate Profile</strong></b></div>
                                <ul class="MarginTop5 CircleBullets">
                                    <li>B.E./ B. Tech. in Computer Science /Information Technology or MCA from reputed university with minimum 60% aggregate throughout their education</li>
                                </ul>
                                <div class="MsoNoSpacing"><b><strong>Skills and Abilities </strong></b></div>
                                <ul class="MarginTop5 CircleBullets">
                                    <li>Excellent communication skills (spoken and written English)</li>
                                    <li>Ability to work in shifts</li>
                                    <li>High-level technical troubleshooting ability</li>
                                    <li>Customer orientation</li>
                                    <li>Ability to multitask and work 6 days a week (54 hours per week at a minimum)</li>
                                    <li>Excellent problem resolution, judgment, and decision-making skills</li>
                                </ul>
                                <div><b>Location</b>: Hyderabad/Mumbai</div>
                            </div>
                        </div>
                        <div class="accordion-section">
                            <h6 class="accordion-title">US Recruitment Analyst</h6>
                            <div class="accordion-content">
                                <div class="MsoNormal"><span><span><span class="Apple-style-span"><b><span>DATE POSTED</span></b><span>&nbsp; &nbsp; </span><span>August<span>&nbsp;21, 2014</span></span></span></span></span></div>
                                <div class="MsoNormal"><span><span><b><span></span></b></span></span><br><span><span><b><span>LOCATION</span></b><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>Hyderabad</span></span></span></div>
                                <div><span><span><b><span></span></b></span></span><br><span><span><b><span>JOB DESCRIPTION</span></b>&nbsp;</span></span></div>
                                <div class="MsoNormal">
                                    <div class="MsoNormal"><span><span><br></span></span><span lang="EN-US"><span>We are looking for highly motivated recruiters for our US consulting team. The candidate is required to source talent for various positions with leading high tech companies in the Pacific Northwest. This position requires strong technical and communication skills.</span><span><o:p></o:p></span></span></div>
                                    <div class="MsoNormal">
                                        <span><span><br>Your key result areas as percentage of your overall work items will be:</span></span><br><span><span><br></span></span><b><span lang="EN-US"><span>US Recruitment (~80%)</span></span></b><br>
                                        <ul>
                                            <li><span lang="EN-US">Source candidates for leading high tech companies for contracting and full time positions on the payrolls of MAQ Consulting</span></li>
                                            <li><span lang="EN-US">Understanding client requirements and post the requirements on job boards</span></li>
                                            <li><span lang="EN-US">Source resumes from portals and various networking sites</span></li>
                                            <li><span lang="EN-US">Qualify potential candidates and validate them with the US sales team</span></li>
                                            <li><span lang="EN-US">Coordinate with the US recruitment team</span></li>
                                            <li><span lang="EN-US">Responsible for 4 joinees per month</span></li>
                                            <li><span lang="EN-US">Handling Microsoft and other leading high tech companies as a direct client</span></li>
                                        </ul>
                                        <div class="MsoNormal"><b><span lang="EN-US"><span>Operations (~20%)</span></span></b></div>
                                        <ul>
                                            <li><span lang="EN-US">Building a strong list of consultants in the applicant tracking systems</span></li>
                                            <li><span lang="EN-US">Maintain the online applicant tracking system for US team</span></li>
                                            <li><span lang="EN-US">Submissions and follow-up</span></li>
                                            <li><span lang="EN-US">Provide regular reports to US recruitment team including daily recruitment &nbsp; &nbsp; &nbsp; updates, competitor analysis, etc.</span></li>
                                            <li><span lang="EN-US"><span>Handle backend operations for the US team (Employee Verification, etc.)</span></span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div><span><span><b>Candidate Profile:</b>&nbsp;</span></span></div>
                                <div><span><span><br></span></span><span lang="EN-US"><span>Qualifications should include:</span></span></div>
                                <ul>
                                    <span>
                                        <li>MBA      (Marketing/ HR/ Operations) with first class throughout from a good      university with 60% throughout</li>
                                        <li>English      medium education is a must</li>
                                        <li><b><span lang="EN-US"><span>Ability to work in US Timings (      9 PM-6 AM IST)</span></span></b></li>
                                        <li>Ability      to independently drive the recruitment function</li>
                                        <li>Excellent      communication skills, both verbal and written, with an ability to      communicate and convince a wide range of applicants&nbsp;</li>
                                    </span>
                                </ul>
                                <span><strong>Experience</strong>: 0-2 years</span>
                            </div>
                        </div>-->

                    </div>
                    <!-- End Accordion -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Job Section -->