<!-- Intro Section -->
<section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1 cloudtransformationposter" data-background-img="../img/Banners/cloud.jpg">
    <div class="container text-center">
        <div class="row title">
            <h2 class="h2">Cloud Transformation</h2>

        </div>
    </div>
</section>
<!-- End Intro Section -->
<!--<section id="cloudtransformation" class="wow fadeIn pt pt-sm-80">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 offset-md-2">
                <h3 class="h4">We Creative digital Studio</h3>
                <div class="spacer-15"></div>
                <p class="lead">Integer tincidunt Cras dapibus. <a class="tipped" data-title="Sample Text" data-tipper-options='{"direction":"top"}'><b>Vivamus elementum</b></a> ultricies nisi vel augue. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante dapibus.</p>
            </div>
        </div>
    </div>
</section>
<section class="pt pb-40 ptb-sm-80">
    <div class="container">
        <img style="margin-left:20px;" src="../img/Graphics/ai_graphic.png" alt="Cloud Transformation">
    </div>
</section>-->
<section id="appdevelopment" class="wow fadeIn pb-110 pt pt-sm-80">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-8 offset-md-2" id="">
                <!--<h1 class="pb-30">Cloud Transformation</h1>-->
                <!--<article class="LeftArticle">-->
                    <p class="lead">
                        We have been developing applications on Azure since it was released in 2010.
                        We help you optimize and manage your cloud solutions in order to reduce the amount of time required to manage, maintain, and deploy them and help you reduce your overall costs.
                    </p>
                    <div id="tabs" class="tabs b-lrb-none pt-60" data-career-tabs>

                        <ul class="nav nav-tabs">
                            <li class="nav active"><a class="nav-link active" data-toggle="tab" href="#tabs-1" target="_self">Services</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tabs-1" class="tab-pane fade in active">
                                <div class="row">
                                    <div class="col-md-9 mt-30 text-left">
                                        <ul>
                                            <li>Develop and host custom applications with low cost strategy and high availability</li>
                                            <li>Migrate existing applications to Azure</li>
                                            <li>Enable transition of existing cloud applications to Azure</li>
                                            <li>Upgrade and maintain applications on Azure</li>
                                            <li>Optimize cloud solutions for faster access, enhancing user experience</li>
                                            <li>Ensure secure applications comply with latest industry standards</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<i><p class="DataSubContent Color3f3f3f">Services</p></i>-->
                    <!--<ul class="CircleBullets">
                        <li>Develop and host custom applications with low cost strategy and high availability</li>
                        <li>Migrate existing applications to Azure</li>
                        <li>Enable transition of existing cloud applications to Azure</li>
                        <li>Upgrade and maintain applications on Azure</li>
                        <li>Optimize cloud solutions for faster access, enhancing user experience</li>
                        <li>Ensure secure applications comply with latest industry standards</li>
                    </ul>-->
                <!--</article>-->
            </div>
        </div>
    </div>
</section>
<section id="client-logos" class="wow fadeIn pb-110 ptb-sm-80 text-center">
    <div class="container">
        <div class="owl-carousel client-carousel nf-carousel-theme ">
            <div class="item">
                <div class="client-logo">
                    <a href="https://azure.microsoft.com/" target="_blank"><img title="Microsoft Azure" src="../img/Cloud Transformation/Windows-Azure.jpg" alt="Microsoft Azure" /></a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a href="https://aws.amazon.com/" target="_blank"><img title="Amazon Web Services" src="../img/Cloud Transformation/AWS_logo.png" alt="Amazon Web Services" /></a>
                </div>
            </div>
        </div>
    </div>
</section>