<!-- Intro Section -->
<section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1 collaborationcontentposter" data-background-img="../img/Banners/collab.jpg">
    <div class="container text-center">
        <div class="row title">
            <h2 class="h2">Collaboration & Content</h2>
        </div>
    </div>
</section>
<!-- End Intro Section -->
<!--<section id="collaborationcontent" class="wow fadeIn pt pt-sm-80">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 offset-md-2">
                <h3 class="h4">We Creative digital Studio</h3>
                <div class="spacer-15"></div>
                <p class="lead">Integer tincidunt Cras dapibus. <a class="tipped" data-title="Sample Text" data-tipper-options='{"direction":"top"}'><b>Vivamus elementum</b></a> ultricies nisi vel augue. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante dapibus.</p>
            </div>
        </div>
    </div>
</section>-->
<!--<section class="pt pb-40 ptb-sm-80">
    <div class="container">
        <img style="margin-left:20px;" src="../img/Graphics/ai_graphic.png" alt="Collaboration & Content">
    </div>
</section>-->
<section class="wow fadeIn pb-110 pt pt-sm-80">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-8 offset-md-2" id="">
                <!--<h1 class="pb-30 DataTitle SemiBold Color58585a">Collaboration & Content</h1>-->
                <!--<article class="LeftArticle">-->
                <p class="lead">MAQ Software has delivered over 100 SharePoint projects. We have a large team with vast experience in delivering SharePoint projects for various teams at Microsoft Corporation. We have processes and tools for fast paced SharePoint content migration, development, and testing.</p>
                <div class="spacer-30"></div>
                <p class="lead">We have successfully worked with various business groups, supporting them during the entire life cycle of the application.</p>
                <div class="spacer-30"></div>
                <p class="lead">For a marketing operations group, we have been involved during all stages of development and rollout of the SharePoint Online and SQL Server 2014-based business intelligence portals.</p>
                <div class="spacer-30"></div>
                <p class="lead">We supported the SharePoint 2013 Server farm that is used by thousands of marketers worldwide. We work closely with a global marketing operations team to enhance portal performance, ensure consistency in reporting solutions, build standardized components for easier maintenance, and assist with user queries. Due to superior engineering and operations management, we are helping deliver 99.9% uptime.</p>
                <div class="spacer-30"></div>
                <p class="lead">In 2015 and 2016, we migrated SharePoint 2013 farm solutions to SharePoint Online using Office 365.</p>                
                <!--</ul>-->
                <div id="tabs" class="tabs b-lrb-none pt-60" data-collaborationcontent-tabs>
                    <ul class="nav nav-tabs">
                        <li class="nav active"><a class="nav-link active" data-toggle="tab" href="#tabs-1" target="_self">SharePoint On-premise</a></li>
                        <li class="nav"><a class="nav-link" data-toggle="tab" href="#tabs-2" target="_self">Office 365 and SharePoint Online</a></li>
                        <li class="nav"><a class="nav-link" data-toggle="tab" href="#tabs-3" target="_self">Services</a></li>
                    </ul>
                    <div class="tab-content text-left">
                        <div id="tabs-1" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12 mt-30">
                                    <ul>
                                        <li>70-488, 70-331, and 70-332 Microsoft certified team of developers and administrators</li>
                                        <li>Web Content Management and search features</li>
                                        <li>Delivered projects leveraging on latest SharePoint offerings - Cross site publishing, Web Content Management, Display Templates, Content Search Web parts, etc.</li>
                                        <li>Developed SharePoint apps &#45; available for download via <a class="BackLink" target="_blank" href="https://store.office.com/">Office store</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="tabs-2" class="tab-pane fade">
                            <div class="row">
                                <div class="col-md-12 mt-30">
                                    <ul>
                                        <li>Delivered projects on SharePoint Online</li>
                                        <li>Developed Windows store apps and mobile apps leveraging integrated with SharePoint Online sites</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="tabs-3" class="tab-pane fade">
                            <div class="row">
                                <div class="col-md-12 mt-30">
                                    <ul>
                                        <li>Branding SharePoint sites</li>
                                        <li>Improving content management by developing portals for people to access information</li>
                                        <li>Improving people collaboration by designing and developing efficient authoring, publishing and approval workflows</li>
                                        <li>Implementing framework for preview, authoring, rendering and publishing content (e.g. Content Services Platform)</li>
                                        <li>Migrating to the latest SharePoint 2016 from previous versions of Microsoft SharePoint Server</li>
                                        <li>Developing SharePoint Line of Business Apps</li>
                                        <li>Hosting on corporate infrastructure to enable self-management with limited support from IT teams</li>
                                        <li>Integrating Active Directory Federation Service for single click log on</li>
                                        <li>Creating and deploying custom web parts for specific requirements</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--</article>-->
            </div>
        </div>
    </div>
</section>
<section id="client-logos" class="wow fadeIn pb-110 ptb-sm-80 text-center">
    <div class="container">
        <div class="owl-carousel client-carousel nf-carousel-theme ">
            <div class="item">
                <div class="client-logo">
                    <a href="https://products.office.com/en-us/sharepoint/" target="_blank"><img title="SharePoint" src="../img/Cloud collaboration/Sharepoint.png" alt="SharePoint" /></a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a href="https://products.office.com/en-us/business/explore-office-365-for-business" target="_blank"><img title="Office 365" src="../img/Cloud collaboration/Office365logo.png" alt="Office 365" /></a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a href="https://products.office.com/en-us/sharepoint/sharepoint-online-collaboration-software" target="_blank"><img title="Office 365" src="../img/Cloud collaboration/SharePointOnline.png" alt="SharePoint Online" /></a>
                </div>
            </div>
        </div>
    </div>
</section>