<!-- Intro Section -->
<section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1 collaborationcontentposter" data-background-img="../img/Banners/collab.jpg">
    <div class="container text-center">
        <div class="row title">
            <h2 class="h2">Collaboration & Content</h2>
        </div>
    </div>
</section>
<!-- End Intro Section -->
<section id="collaborationcontent" class="wow fadeIn pt pt-sm-80">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 offset-md-2">
                <h3 class="h4">FAST PACED SHAREPOINT CONTENT MIGRATION, DEVELOPMENT, AND TESTING</h3>
                <div class="spacer-15"></div>
                <p class="lead">We have delivered over 100 SharePoint projects. Our large team has worked successfully with various business groups, supporting them during the entire application development, deployment, and maintenance process. Below are some of our offerings.</p>
            </div>
        </div>
    </div>
</section>
<section class="ptb-60 ptb-sm-80">
    <div class="container" style="max-width:800px;">

        <div id="tabs" class="tabs b-lrb-none" data-career-tabs>

            <ul class="nav nav-tabs">
                <li class="nav active"><a class="nav-link active" data-toggle="tab" href="#tabs-1" target="_self">SharePoint On-Premise</a></li>
                <li class="nav"><a class="nav-link" data-toggle="tab" href="#tabs-2" target="_self">Office 365 & Sharpoint Online</a></li>
                <li class="nav"><a class="nav-link" data-toggle="tab" href="#tabs-3" target="_self">Services</a></li>

            </ul>
            <div class="tab-content">
                <div id="tabs-1" class="tab-pane fade in active">
                    <div class="row">
                        <div class="col-md-4 mt-30">
                            <p class="blurb">We can help you take your on-premise SharePoint implementation to the next level.</p>
                        </div>
                        <div class="col-md-4 mt-30">
                            <h5>Our Expertise</h5>
                            <ul class="CircleBullets">
                                <li>70-488, 70-331, and 70-332 Microsoft certified team of developers and administrators.</li>
                                <li>Experts in Web Content Management and search features.</li>
                                
                            </ul>
                        </div>
                        <div class="col-md-4 mt-30">
                            <ul class="CircleBullets">
                                <li>Delivery of projects leveraging the latest SharePoint offerings including cross site publishing, Web Content Management, Display Templates, and Content Search Web parts.</li>
                                <li>Developed SharePoint apps available for download on <a href="https://store.office.com/en-001/provider.aspx?assetid=PN103576282&ui=en-US&rs=en-001&ad=US&providerredirect=false">Office Store</a>.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="tabs-2" class="tab-pane fade">
                    <div class="row">
                        <div class="col-md-4 mt-30">
                            <p class="blurb">We will help you develop a custom SharePoint Online implementation allowing you to collaborate anywhere on any device.</p>
                        </div>
                        <div class="col-md-4 mt-30">
                            <h5>Online Experience</h5>
                            <ul class="CircleBullets">
                                <li>We have delivered many SharePoint Online projects and can tailor our experience to fit your custom needs.</li>
                                
                                

                            </ul>
                        </div>
                        <div class="col-md-4 mt-30">
                            <ul class="CircleBullets">
                                <li>We develop Windows store apps and mobile apps leveraging integration with SharePoint Online.</li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="tabs-3" class="tab-pane fade">
                    <div class="row">
                        <div class="col-md-4 mt-30">
                            <p class="blurb">We can help you maintain, migrate, and improve your existing SharePoint site.</p>
                        </div>
                        <div class="col-md-4 mt-30">
                            <h5>Some of Our Services</h5>
                            <ul class="CircleBullets">
                                <li>Branding SharePoint sites.</li>
                                <li>Improving content management by developing portals for users to access information.</li>
                                <li>Improving collaboration by designing and developing efficient authoring, publishing, and approval workflows.</li>
                                <li>Implementing frameworks for previewing, authoring, rendering, and publishing content (e.g. Content Services Platform).</li>
                                
                                

                            </ul>
                        </div>
                        <div class="col-md-4 mt-30">
                            <ul class="CircleBullets">
                                <li>Migrating to the latest SharePoint 2016 from previous versions of Microsoft SharePoint Server.</li>
                                <li>Developing SharePoint Line of Business Apps.</li>
                                <li>Hosting on corporate infrastructure to enable self-management with limited support from IT teams.</li>
                                <li>Integrating Active Directory Federation Service for single click log on.</li>
                                <li>Creating and deploying custom web parts for specific business requirements.</li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>