<!-- Intro Section -->
<section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1 datamanagementposter" data-background-img="../img/Banners/data.jpg">
    <div class="container text-center">
        <div class="row title">
            <h2 class="h2">Data Management</h2>

        </div>
    </div>
</section>
<!-- End Intro Section -->
<!-- Team -->
<section id="about" class="wow fadeIn pt pt-sm-80">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 offset-md-2">
                <h3 class="h4">We Creative digital Studio</h3>
                <div class="spacer-15"></div>
                <p class="lead">Integer tincidunt Cras dapibus. <a class="tipped" data-title="Sample Text" data-tipper-options='{"direction":"top"}'><b>Vivamus elementum</b></a> ultricies nisi vel augue. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante dapibus.</p>
            </div>
        </div>
    </div>
</section>
<section class="pt pb-40 ptb-sm-80">
    <div class="container">
        <img style="width:100%" src="../img/Graphics/data_graphic.png">
    </div>
</section>
<!--content Section-->
<!--
<section class="pb ptb-sm-80">
    <div class="container">

        <div id="tabs" class="tabs b-lrb-none" data-career-tabs>  
                      
            <ul class="nav nav-tabs">
                <li class="nav active"><a class="nav-link active" data-toggle="tab" href="#tabs-1" target="_self"><i class="ion ion-pricetag"></i>Marketing</a></li>
                <li class="nav"><a class="nav-link" data-toggle="tab" href="#tabs-2" target="_self"><i class="ion ion-gear-a" target="_self"></i>Optimization</a></li>
                <li class="nav"><a class="nav-link" data-toggle="tab" href="#tabs-3" target="_self"><i class="ion ion-ios-search-strong"></i>Data Analysis</a></li>
                <li class="nav"><a class="nav-link" data-toggle="tab" href="#tabs-4" target="_self"><i class="ion ion-ios-box"></i>Data Warehousing</a></li>
                <li class="nav"><a class="nav-link" data-toggle="tab" href="#tabs-5" target="_self"><i class="ion ion-planet" ></i>COSMOS</a></li>
                
            </ul>    
            <div class="tab-content">
                <div id="tabs-1" class="tab-pane fade in active">
                    <div class="row">
                                <div class="col-md-4 mt-30">
                                    <p>We provide marketing campaign setup, reporting, and analysis to offer organizations deeper insights into their customers’ needs.</p>
                                </div>
                                <div class="col-md-4 mt-30">
                                    <ul class="CircleBullets">
                                        <li>Plan and setup integrated infrastructure for your campaigns.</li>
                                        <li>Analyze web traffic data beyond traditional click stream reports.</li>
                                        
                                    </ul>
                                </div>
                                <div class="col-md-4 mt-30">
                                    <ul class="CircleBullets">
                                        <li>Offer actionable metrics, benchmarking, and visualization.</li>
                                        <li>Apply complex financial and marketing rules to produce data insights.</li>
                                    </ul>
                                </div>
                            </div>
                </div>
                <div id="tabs-2" class="tab-pane fade">
                   <div class="row">
                                <div class="col-md-4 mt-30">
                                    <p>We can help you reduce data costs, reduce latency, and optimize your site structure.</p>
                                </div>
                                <div class="col-md-4 mt-30">
                                    <ul class="CircleBullets">
                                        <li>Controlled experiments leveraging A/B and multivariate testing.</li>
                                        <li>Optimize site structure and information architecture.</li>
                                        <li>Develop and conduct user surveys, site usability, and user experience analysis.</li>
                                        
                                    </ul>
                                </div>
                                <div class="col-md-4 mt-30">
                                    <ul class="CircleBullets">
                                        <li>Reduce Azure VM cost using a custom framework to track and monitor resources.</li>
                                        <li>Reduce refresh latency with job scheduling, hierarchy queues, Just-In-Time scheduling.</li>
                                    </ul>
                                </div>
                            </div>
                </div>
                <div id="tabs-3" class="tab-pane fade">
                   <div class="row">
                                <div class="col-md-4 mt-30">
                                    <p>We can help you manage your data storage and processing needs to help you define your business and make confident decisions.</p>
                                </div>
                                <div class="col-md-4 mt-30">
                                    <ul class="CircleBullets">
                                        <li>Design, build, and maintain ETL packages, data marts, and OLAP cubes.</li>
                                        <li>Data mining and predictive analysis.</li>
                                        
                                    </ul>
                                </div>
                                <div class="col-md-4 mt-30">
                                    <ul class="CircleBullets">
                                        <li>Recommended storage options (SQL Database, COSMOS, ADL, Cube) based on data classification (High Business Impact, Medium Business Impact and Low Business Impact).</li>
                                        <li>Process ~400TB of data daily (Retail Store Telemetry).</li>
                                    </ul>
                                </div>
                            </div>
                </div>
                <div id="tabs-3" class="tab-pane fade">
                   <div class="row">
                                <div class="col-md-4 mt-30">
                                    <p>We provide marketing campaign setup, reporting, and analysis to offer organizations deeper insights into their customers’ needs.</p>
                                </div>
                                <div class="col-md-4 mt-30">
                                    <ul class="CircleBullets">
                                        <li>Plan and setup integrated infrastructure for your campaigns.</li>
                                        <li>Analyze web traffic data beyond traditional click stream reports.</li>
                                        
                                    </ul>
                                </div>
                                <div class="col-md-4 mt-30">
                                    <ul class="CircleBullets">
                                        <li>Offer actionable metrics, benchmarking, and visualization.</a></li>
                                        <li>Apply complex financial and marketing rules to produce data insights.</a></li>
                                    </ul>
                                </div>
                            </div>
                </div>
                <div id="tabs-3" class="tab-pane fade">
                   <div class="row">
                                <div class="col-md-4 mt-30">
                                    <p>We are experts in COSMOS implementation and optimization. The following are examples of our work with COSMOS.</p>
                                </div>
                                <div class="col-md-4 mt-30">
                                    <h5>Render Data to HTML5 Report</h5>
                                    <ul class="CircleBullets">
                                        <li>We use U-SQL based queries and COSMOS API to surface data from COSMOS on rich HTML5 visuals.</li>
                                        <li>We achieve page load time (PLT) of ~10-15 seconds through COSMOS query optimization.</li>
                                        
                                    </ul>
                                     <h5>Real Time Power BI Reports</h5>
                                    <ul class="CircleBullets">
                                        <li>We use COSMOS Export API and Power BI REST API to push latest data from COSMOS to Power BI datasets.</li>
                                        <li>Set up continuous-poll or scheduled refresh.</li>
                                        
                                    </ul>
                                </div>
                                <div class="col-md-4 mt-30">
                                    <h5>Data Manipulation</h5>
                                    <ul class="CircleBullets">
                                        <li>We create custom reducers which enhance the out of box COSMOS operators to perform complicated business logic</li>
                                        <li>With reducers, we can use advanced C# methods to achieve data manipulations</li>
                                    </ul>
                                    <h5>Secure Sensitive Data</h5>
                                    <ul class="CircleBullets">
                                        <li>We use a custom Rijndael based encryption utility to secure PII data at rest on COSMOS or during processing on COSMOS.</li>
                                        
                                    </ul>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->
<section class="pb ptb-sm-80">
    <div class="container">

        <div id="tabs" class="tabs b-lrb-none" data-career-tabs>            
            <ul class="nav nav-tabs">
                <li class="nav active"><a class="nav-link active" data-toggle="tab" href="#tabs-1" target="_self">Redmond</a></li>
                <li class="nav"><a class="nav-link" data-toggle="tab" href="#tabs-2" target="_self">India</a></li>
            </ul>          
            <div class="tab-content">
                <div id="tabs-1" class="tab-pane fade in active">
                    <div class="accordion">
                        <div class="accordion-section">
                            <h6 class="accordion-title">Engineering Development Manager</h6>
                            <div class="accordion-content">
                                <p class="DataSubContent">
                                    MAQ Software has an opening for Engineering Development Manager at Redmond, WA.
                                    Your key result areas as percentage of your overall work items will be:
                                </p>
                                <ul class="DataSubContent CircleBullets">
                                    <li>
                                        Manage resource, direct and coordinate technical activities to develop and deliver
                                        web
                                        application projects in Cloud Computing and Microsoft.Net platform to meet specific
                                        client
                                        needs and define the scope of each assigned project
                                    </li>
                                    <li>Direct, review and approve product design and changes</li>
                                    <li>Responsible to track for multiple releases and deliveries for product groups</li>
                                    <li>Direct Architecture development and provide IT solutions</li>
                                    <li>
                                        Resource management by recruiting, assigning, mentoring IT professionals to ensure
                                        optimal
                                        performance per scheduled deadlines
                                    </li>
                                    <li>Performance management including annual performance reviews and professional growth</li>
                                    <li>
                                        Review Request for Proposals, formulate project plan specifications and provide
                                        cost
                                        estimations
                                    </li>
                                    <li>
                                        Provide technical pre-sales support to sales team to provide IT solutions to meet
                                        client
                                        demands
                                    </li>
                                </ul>
                                <p class="SemiBold Color3f3f3f DataSubContent">Candidate Profile</p>
                                <ul class="DataSubContent CircleBullets">
                                    <li>
                                        Master’s Degree or foreign equivalent in Computer Science, CIS, Management, MIS,
                                        Engineering (any), or related field plus 2 years’ experience or Bachelor’s degree
                                        plus 5 years’
                                        experience
                                    </li>
                                    <li>
                                        Must be able to travel temporarily to client sites with expenses paid by the employer
                                        and/or
                                        relocate throughout the U.S.
                                    </li>
                                </ul>
                                <p class="SemiBold Color3f3f3f DataSubContent">
                                    Please send resume to MAQ Software, 15446 Bel Red Road, # 201, Redmond, WA 98052,
                                    Attn: H.R.
                                    Manager.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-section">
                            <h6 class="accordion-title">Programmer Analyst</h6>
                            <div class="accordion-content">
                                <p class="DataSubContent">
                                    Programmer Analyst will be required to:
                                </p>
                                <ul class="DataSubContent CircleBullets">
                                    <li>Analyze, develop and write codes to implement system applications</li>
                                    <li>
                                        Additionally, will assist in providing software support to projects that include programming, testing, debugging, and modifying software to meet
                                        customer specifications
                                    </li>
                                </ul>
                                <p class="DataSubContent SemiBold Color3f3f3f">Candidate Profile</p>
                                <ul class="CircleBullets DataSubContent">
                                    <li>Requires Bachelor’s Degree or foreign equivalent in Computer Science, Computer Applications, Computer Information Systems, Electrical/Electronic Engineering or related field with 2 years of work experience in job offered, software engineer, system analyst or related work</li>
                                </ul>
                                <p class="DataSubContent">
                                    May require travel to client sites within the U.S. with expenses paid by employer and or relocate throughout the U.S.
                                </p>
                                <p class="DataSubContent SemiBold Color3f3f3f">
                                    Send resume to 15446 Bel Red Road, #201, Redmond, WA 98052, Attn: H.R. Manager.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-section">
                            <h6 class="accordion-title">Program Manager</h6>
                            <div class="accordion-content">
                                <p class="DataSubContent">
                                    Your key result areas as percentage of your overall work items will be:
                                </p>
                                <ul class="CircleBullets DataSubContent">
                                    <li>
                                        Managing and working closely with the development and test team to help define the
                                        requirements and feature sets
                                    </li>
                                    <li>
                                        Analyzing customer data, gathering feedback and ensuring that the product meets
                                        user requirements
                                    </li>
                                    <li>
                                        Supporting multiple release schedules throughout the project while handling all
                                        PM
                                        daily tasks
                                    </li>
                                </ul>
                                <p class="DataSubContent">
                                    We are looking for an experienced and highly motivated Project Manager, with broad
                                    experience in e-commerce based and/or smart client products, solid technical skills,
                                    excellent communication skills, and a track record of shipping great products. Not
                                    only
                                    will this position require taking on a critical role on a high-performance team
                                    but you will
                                    help to develop an industry altering product with over a million hits a day.
                                </p>
                                <p class="DataSubContent SemiBold Color3f3f3f">Candidate Profile</p>
                                <ul class="CircleBullets DataSubContent">
                                    <li>3 to 5 years as a Project Manager with strong leadership skills</li>
                                    <li>Bachelor's or equivalent degree in related field desired</li>
                                    <li>
                                        Strong understanding of Project Management and the ability to handle multiple
                                        projects and challenges
                                    </li>
                                    <li>
                                        Strong technical background in .NET and Microsoft platform with the ability to
                                        develop specifications and partner with development and test teams
                                    </li>
                                    <li>
                                        Excellent communication skills, both verbal and written, with an ability to communicate
                                        difficult technical and business concepts to both technical and non-technical users
                                    </li>
                                    <li>Previous Microsoft experience is a plus</li>
                                </ul>
                                <p class="DataSubContent SemiBold Color3f3f3f">
                                    Please send resume to MAQ Software, 15446 Bel Red Road, # 201, Redmond, WA 98052,
                                    Attn: H.R.
                                    Manager.
                                </p>

                            </div>
                        </div>
                        <div class="accordion-section">
                            <h6 class="accordion-title">Content Editor</h6>
                            <div class="accordion-content">
                                <p class="DataSubContent">
                                    Your key result areas as percentage of your overall work items will be:
                                </p>
                                <ul class="CircleBullets DataSubContent">
                                    <li>
                                        Website Editing: Utilize knowledge of web architecture, user interface design, MS
                                        editorial standards, and web publishing practices to build and implement new content
                                        areas/site features/graphics, individually or in conjunction with other development
                                        resources
                                    </li>
                                    <li>
                                        Editing and proofing submitted content and ensuring compliance with corporate style
                                        and legal guidelines
                                    </li>
                                    <li>
                                        Utilize knowledge of web architecture to spec out and implement small content
                                        areas/site features, individually or in conjunction with development resources
                                    </li>
                                </ul>
                                <p class="DataSubContent">
                                    We are seeking long-term contractor(s) to manage customer Internet sites for a large
                                    Redmond software company. The website Producer/Editor will help develop and manage
                                    content. This position is ideal for a strong website editor and content developer
                                    with
                                    previous experience interfacing with MSCOM and SharePoint.
                                </p>
                                <p class="DataSubContent SemiBold Color3f3f3f">Candidate Profile</p>
                                <ul class="CircleBullets DataSubContent">
                                    <li>One year minimum experience writing or producing web content required</li>
                                    <li>
                                        Two years minimum editorial/writing experience and demonstrated knowledge of
                                        grammar, spelling and style required
                                    </li>
                                    <li>Hands-on experience with HTML required. XML knowledge is useful </li>
                                    <li>Knowledge of website architecture and user interface principles a plus </li>
                                    <li>
                                        Knowledge of the MS server platform and general knowledge of Microsoft
                                        environment a plus
                                    </li>
                                </ul>
                                <p class="DataSubContent SemiBold Color3f3f3f">
                                    Please send resume to MAQ Software, 15446 Bel Red Road, # 201, Redmond, WA 98052,
                                    Attn: H.R.
                                    Manager.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-section">
                            <h6 class="accordion-title">Web Application Developer</h6>
                            <div class="accordion-content">
                                <p class="DataSubContent">
                                    Your key result areas as percentage of your overall work items will be:
                                </p>
                                <ul class="DataSubContent CircleBullets">
                                    <li>Web application development using C#, XML, .NET </li>
                                    <li>Database design (advanced skills in writing queries and stored procedures)</li>
                                    <li>Understand functional requirements </li>
                                    <li>Interact with graphic designers</li>
                                    <li>Write technical documentation such as design and design rationale documents</li>
                                    <li>Participate in test case generation, design, and code reviews</li>
                                    <li>Debug, handle client requests, etc.</li>
                                </ul>
                                <p class="DataSubContent">
                                    Design and build enterprise web applications using C#, XML and .NET
                                </p>
                                <p class="DataSubContent SemiBold Color3f3f3f">Candidate Profile</p>
                                <ul class="DataSubContent CircleBullets">
                                    <li>Computer Science engineering/MCA degree with excellent academic credentials</li>
                                    <li>2-5 years experience in reputed software companies</li>
                                    <li>Experience in C# language and .NET platform </li>
                                    <li>Strong foundation in SDLC concepts and exposure to quality processes </li>
                                </ul>
                                <p class="DataSubContent SemiBold Color3f3f3f">
                                    Please send resume to MAQ Software, 15446 Bel Red Road, # 201, Redmond, WA 98052,
                                    Attn: H.R.
                                    Manager.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-section">
                            <h6 class="accordion-title">Systems Engineer</h6>
                            <div class="accordion-content">
                                <p class="DataSubContent">
                                    Your key result areas as percentage of your overall work items will be:
                                </p>
                                <ul class="DataSubContent CircleBullets">
                                    <li>Maintain and support IT systems based on Windows 10, Windows Server 2012 R2, SQL Server 2016, and .NET technology</li>
                                    <li>Key areas of expertise will include IIS website management in production, Active Directory, security, server monitoring, and network infrastructure</li>
                                    <li>Provide technical engineering support for the implementation, integration, and evolution of complex systems architectures</li>
                                    <li>Design and maintain Internet services support strategies</li>
                                    <li>
                                        Provide systems statistical trending and analysis, server capacity and threshold testing, systems documentation maintenance,
                                        and the analysis and evaluation of new systems designs and technical strategies
                                    </li>
                                    <li>Troubleshoot complex issues, identify root causes and develop mitigation options</li>
                                    <li>Provide operations and production support to ensure continuous availability of systems</li>
                                    <li>Utilize best practices to continually evaluate system performance for possible areas of improvement</li>
                                    <li>Disaster recovery, automate backups, security analysis, and systems reviews</li>
                                    <li>Create on-going documentation of the environments as they evolve</li>
                                </ul>
                                <p class="DataSubContent SemiBold Color3f3f3f">Candidate Profile</p>
                                <ul class="DataSubContent CircleBullets">
                                    <li>A minimum of two-three years experience in supporting Windows Servers in a Microsoft platform based data center environment</li>
                                    <li>Working knowledge of Active Directory, XML, .NET Framework, TCP/IP, and SQL Server</li>
                                    <li>Knowledge of application hosting and support including basic security concepts</li>
                                    <li>Strong interpersonal and communications skills</li>
                                    <li>Bachelor's or equivalent degree in related field desired</li>
                                    <li>Current Microsoft Certified System Engineer (MCSE) required</li>
                                </ul>
                                <p class="DataSubContent SemiBold Color3f3f3f">
                                    Please send resume to MAQ Software, 15446 Bel Red Road, # 201, Redmond, WA 98052,
                                    Attn: H.R.
                                    Manager.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-section">
                            <h6 class="accordion-title">Development Operations Engineer</h6>
                            <div class="accordion-content">
                                <p class="DataSubContent">
                                    MAQ LLC dba MAQ Software has openings for Development Operations Engineer at its office in Redmond, WA.
                                </p>
                                <p class="DataSubContent">
                                    Will be responsible for software architecture, development, testing and integration with web and database servers. Develop software to automate deployment and server infrastructure management. Automate test cases, debug and fix errors in server applications and infrastructure.
                                </p>
                                <p class="DataSubContent">
                                    Requires Master’s Degree or foreign equivalent in Computer Science, Computer Engineering, Management Information Systems or related IT field. Must be able to travel temporarily to client sites and /or relocate throughout the U.S.
                                </p>
                                <p class="DataSubContent SemiBold Color3f3f3f">
                                    Send resume to 15446 Bel Red Road, #201, Redmond, WA 98052, Attn: H.R. Manager.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tabs-2" class="tab-pane fade">
                </div>
            </div>
        </div>
    </div>
</section>
        <!-- Content Section -->
<section class="ptb ptb-sm-80">
    <div class="container text-center">
        <h3>Case Studies</h3>
        <div class="spacer-60"></div>
        <!--Team Carousel -->
        <div class="row">
            <div class="owl-carousel team-carousel nf-carousel-theme">
                <div class="item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="../img/team/people-1.jpg" alt="" />
                            <div class="team-item-detail">
                                <div class="team-item-detail-inner light-color">
                                    <h5>Case Study 1</h5>
                                    <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                    <ul class="social">
                                        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team-item-info">
                            <h5>Case Study 1</h5>
                            <p class="">Tagline</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="../img/team/people-2.jpg" alt="" />
                            <div class="team-item-detail">
                                <div class="team-item-detail-inner light-color">
                                    <h5>Case Study 2</h5>
                                    <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                    <ul class="social">
                                        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team-item-info">
                            <h5>Case Study 2</h5>
                            <p class="">Tagline</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="../img/team/people-3.jpg" alt="" />
                            <div class="team-item-detail">
                                <div class="team-item-detail-inner light-color">
                                    <h5>Case Study 3</h5>
                                    <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                    <ul class="social">
                                        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team-item-info">
                            <h5>Case Study 3</h5>
                            <p class="">Tag Line</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--End Team Carousel --->
    </div>
</section>
<!-- End Team -->