<!-- Intro Section -->
<section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1 newsposter" data-background-img="../img/Banners/news.jpg">
    <div class="container">
        <div class="row title">
            <h2 class="h2">News</h2>

        </div>
    </div>
</section>
<!-- End Intro Section -->
<!-- Blog Post Section -->
<section class="ptb ptb-sm-80">
    <div class="container">
        <div class="row">
            <!-- Post Bar -->
            <div class="col-lg-9 col-md-9 blog-post-hr">
                <div class="blog-post mb-30 Loading" id="LoadPageNews">
                    <!--<div class="post-meta" id="Aug6"><span>August 6, 2017</span></div>
                    <div class="post-header">
                        <h2>Penguin launches new book What I Did Not Learn in B-School: Insights for New Managers to address shortage of middle level managers in India</h2>
                    </div>
                    <div class="post-media">
                        <img alt="" src="../img/news/b-school.jpg">
                    </div>
                    <div class="post-entry">
                        <p>Penguin has released the much-anticipated book, What I Did Not Learn in B-School, written by the Founder and CEO of MAQ Software, Rajeev Agarwal. The book bridges the gap between the shortage of qualified managers and the employability of recent MBA graduates.</p>
                        <p>Every year, top performers join management ranks in their companies. As they assume their new roles, managers often receive inadequate training on adopting the right mindsets and behaviors to succeed. Combining his experience as Founder and CEO of MAQ Software with research by leading management thinkers such as Peter Drucker and Henry Mintzberg, Rajeev Agarwal offers insights on key issues faced by managers, including:</p>
                        <ul>
                            <li>Motivating team members</li>
                            <li>What does a manager do</li>
                            <li>Why are we so busy</li>
                            <li>How to delegate</li>
                            <li>Training a team</li>
                            <li>Providing feedback</li>
                            <li>Retaining employees</li>
                            <li>Does pay matter</li>
                            <li>Issues faced by new managers</li>
                        </ul>
                        <p>The book includes a Foreword by Arjun Malhotra, Co-Founder of HCL Technologies and an industry veteran. It has been endorsed by industry leaders including:</p>
                        <ul>
                            <li>C. P. Gurnani, Managing Director and Chief Executive Officer, Tech Mahindra</li>
                            <li>R. Mukundan, Managing Director and Chief Executive Officer, Tata Chemicals</li>
                            <li>Ravi Venkatesan, Co-Chairman, Infosys</li>
                            <li>Neel Mahapatro, Corporate Vice President, Microsoft Corporation/li>
                            <li>S. V. Nathan, Chief Talent Officer, Deloitte India</li>
                            <li>Aseem Marwah, Director, eLitmus Evaluation</li>
                            <li>Sunil Goyal, Chief Operating Officer, Sopra Steria Group</li>
                        </ul>
                        <p>This practical book is available to order immediately from leading online retailers including <a href="amazon.in">amazon.in</a> and <a href="flipkart.com">flipkart.com</a>. More details about the book are available at <a href="http://www.mbabook.in">http://www.mbabook.in</a></p>
                    </div>-->
                    <!--<div class="post-tag pull-left"><span><a>Branding</a>,</span><span><a>Design</a></span></div>-->
                </div>
                <div id="Pagination" class="mt-30 " style="display: none;">
                    <p id="Previous" data-clicked="0" class="btn-link-a pull-left hidden"><a><i class="ion ion-arrow-left-b"></i>PREVIOUS</a></p>
                    <p id="Next" data-clicked="1" class="btn-link-a pull-right"><a>NEXT<i class="ion ion-arrow-right-b"></i></a></p>
                </div>


            </div>
            <!-- End Post Bar -->
            <!-- Sidebar -->
            <div class="col-lg-3 col-md-3 mt-sm-30">

                <div class="sidebar-widget">
                    <h5>Press Coverage</h5>
                    <hr>
                    <ul>
                        <li><a href="http://seattletimes.nwsource.com/html/businesstechnology/2002001987_india11.html">High technology from India is just down the street (The Seattle Times)</a></li>
                        </br>
                        <li><a href="http://seattletimes.nwsource.com/html/businesstechnology/2002001999_indiaagarwal11.html">The India network: The entrepreneur Rajeev Agarwal, 39 (The Seattle Times)</a></li>
                        </br>
                        <li><a href="http://www.bizjournals.com/seattle/stories/2003/08/11/story3.html">Sea Change: Overseas Outsourcing Could Pose Problems for Tech Sector (Puget Sound Business Journal)</a></li>
                        </br>
                        <li><a href="http://www.bizjournals.com/seattle/stories/2007/11/05/story1.html?b=1194238800%5e1544578&surround=etf">Software Products being Developed in India (Puget Sound Business Journal)</a></li>
                        </br>
                        <li><a href="http://www.bizjournals.com/seattle/stories/2006/03/27/story3.html">Migration of Technology Workers from Seattle to India (Puget Sound Business Journal)</a></li>
                        </br>
                        <li><a href="https://www.youtube.com/watch?v=pwn5-_9c180&feature=player_embedded">BBC World Business Report – September 2004</a></li>
                    </ul>
                </div>

            </div>
            <!-- End Sidebar -->
        </div>
    </div>
</section>
<!-- End Blog Post Section -->
<section id="bloggerContent" class="hidden"></section>