

    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- Header -->
        <!--<header id="header" class="header">
            <div class="container header-inner">-->

                <!-- Logo -->
                <!--<div class="logo">
                    <a href="index.html">
                        <img class="logo-light" src="img/MAQSoftware.png" alt="MAQ Software" />
                        <img class="logo-dark" src="img/MAQSoftware.png" alt="MAQ Software" />
                    </a>
                </div>-->
                <!-- End Logo -->

                <!-- Mobile Navbar Icon -->
                <!--<div class="nav-mobile nav-bar-icon">
                    <span></span>
                </div>-->
                <!-- End Mobile Navbar Icon -->

            <!--</div>
        </header>-->
        <!-- End Header -->

        <!-- CONTENT --------------------------------------------------------------------------------->
        <!-- Intro Section -->
		
        <!--<section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1" data-background-img="img/Expertise/AI.jpg">
        </section>-->

        <!--<video loop muted autoplay class="bannervideo">
            <source src="../media/artificialintelligence.mov" type="video/mp4">
        </video>-->
        <!-- End Intro Section -->
        
        <!-- Sidebar Section -->
        <section class="ptb ptb-sm-80">
            <div class="container">
                <div class="row">
					<div class="col-md-9 col-sm-8" id="DataSection">
                        Redirecting...
					</div>

                    <div class="col-md-3 col-sm-4 mt-xs-30">
                        <div class="sidebar-widget">

                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Sidebar Section -->

        <!-- End CONTENT ------------------------------------------------------------------------------>

    </div>