<!-- Intro Section -->
<section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1 aboutposter" data-background-img="../img/Banners/data.jpg">
    <div class="container">
        <div class="row title">
            <h2 class="h2">Case Study</h2>

        </div>
    </div>
</section>
<!-- End Intro Section -->
<!-- About Section -->
<section id="about" class="wow fadeIn pt-90 pb-50 ptb-sm-80">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-2">
                    <img src="../img/case-study/return-themes.jpg" alt = "Case Study">
            </div>
            <div class="col-md-8 ">
                <h3 class="h4">Leading Worldwide Retail Chain Automates Customer Feedback Analysis to Reduce Costs and Improve Customer Satisfaction</h3>
                <div class="spacer-15"></div>
                
                <p class="lead">A large retailer partners with MAQ Software to identify patterns in customer feedback as they return a computer product.</p>
            </div>
        </div>
    </div>
</section>  
        <section class="pb-40 ptb-sm-80">
            <div class="container">
                <div class="row ptb-15">
                    <div class="col-md-2 col-sm-4 mt-xs-30">
                        <h4>Business Case:</h4>
                    </div>
                    <div class="col-md-10 col-sm-8">
                        <p>
                            Our client runs a worldwide chain of retail stores and an online shopping site. 
                            The client’s stores sell billions of dollars in first party products annually. 
                            Its retail locations provide a great shopping experience for premium computer products.
                        </p>
                        <p>
                            Our client needed to understand why customers were returning retail products. 
                            The client also needed to parse customer comments that were gathered in many languages in retail stores across the globe. 
                            If recurring patterns in the reasons for customer returns could be identified, the client could better address problems faced by the users of these products. 
                            The client would then be able to focus on specific areas where improvements were needed in the first party product.
                        </p>
                        <p>
                            Prior to working with MAQ Software, the client kept records of customer comments relating to returns but had not analyzed them for any patterns. 
                            MAQ Software worked with the client’s Marketing Operations team and used machine learning models to review the customer data for useful insights.
                        </p>
                        <h5>Key Challenges:</h5>
                        <ul class="CircleBullets pb10">
                            <li>Develop return themes from a static list of predefined categories based on business requirements.</li>
                            <li>Detect typing errors and comments that need to be translated.</li>
                            <li>Identify and weigh the relative importance of each word in a comment.</li>
                        </ul>

                    </div>
                </div>
                <hr>
                <div class="row ptb-15">
                    <div class="col-md-2 col-sm-4 mt-xs-30">
                        <h4>Solution:</h4>
                    </div>
                    <div class="col-md-10 col-sm-8">
                        <p>
                            MAQ Software collected and translated the comments using case statements in SQL, then further preprocessed using Python and R libraries. 
                            We then developed a web service to display a word tree map of client return themes.
                        </p>
                        <h5>Key Highlights:</h5>
                        <ul class="CircleBullets pb10">
                            <li>Translated and categorized comments using case statements in SQL.</li>
                            <li>Developed a custom Python script to correct typing errors and create a new corrected comments column in dataset.</li>
                            <li>Used R libraries to calculate the frequency and importance of each word.</li>
                            <li>Used the Support Vector Machine Algorithms model to identify themes.</li>
                        </ul>
                        <p>
                                MAQ Software imported the required data from the Azure server and selected the columns required for training the model. 
                                At the SQL level, we then preprocessed the translated data and categorized the comments into themes based on the rules identified by the business owner. 
                                Even after the categorization, there were many comments for which we could not identify themes. 
                                We categorized these comments manually to provide a rich data set for training the model.
                        </p>
                        <p>
                                Once the SQL preprocessing was done, we used Python libraries to clean the comments data. 
                                We developed a custom Python script that performed a spell check on the comments and corrected typographical errors. 
                                We also used auto-correct libraries based on words in a linked dictionary.
                        </p>
                        <p>
                                Next, we processed the corrected comments using the text preprocessing libraries in R to identify word frequency and remove words with very high and very low frequencies. 
                                We then calculated the term frequency-inverse document frequency (TF-IDF) of each word in the comment to determine the relative importance of each word in the comments.
                        </p>
                        <p>
                                We used the preprocessed data set to develop a training model. 
                                We split the dataset into a training dataset (used for training the model) and a validation dataset (used for scoring the training model). 
                                We used the Support Vector Machine Algorithms model for training purposes. The training was done based on the TF-IDF scores of the comments. We found that this model was able to identify most themes with better accuracy. 
                                The model was then finalized and deployed as a web service.
                        </p>
                        <p>
                                New return comments were sent to the web service, which allowed our client to see themes for the comments along with accuracy of prediction.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row ptb-15">
                        <div class="col-md-2 col-sm-4 mt-xs-30">
                            <h4>Business Outcome:</h4>
                        </div>
                        <div class="col-md-10 col-sm-8">
                            <p>
                                    Using MAQ Software’s return theme model, product managers were able to identify the top reasons for product returns. 
                                    Customers were returning products because they found a lower price elsewhere or they were experiencing hardware failures.
                            </p>
                            <p>
                                    The returns analysis allowed the client to focus on the specific areas in the pricing and product quality that were causing the most customer dissatisfaction. 
                                    By pinpointing the problem-areas, the client was able to save thousands of man-hours and potentially millions of dollars by reducing manufacturing errors and refurbishment costs.
                            </p>
                            <h5>Outcome Highlights:</h5>
                            <ul class="CircleBullets pb10">
                                <li>Identified the source of most component failures in hardware returns.</li>
                                <li>Identified customers’ primary non-hardware-related reasons for returning products.</li>
                                <li>Allowed client to focus on the areas where they could most effectively reduce customer returns.</li>
                            </ul>
                            
                        </div>
                    </div>
            </div>
        </section>
        <!-- End Sidebar Section -->