<!-- Intro Section -->
<section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1" data-background-img="../img/Banners/BI.png">
    <div class="container text-center">
        <div class="row title">
            <h2 class="h2">Self Service BI</h2>

        </div>
    </div>
</section>
<!-- End Intro Section -->
<!-- Work Detail Section -->
<section class="ptb ptb-sm-80">
    <div class="container">
        <!-- work Filter -->
        <div class="row">
            <ul class="col container-filter categories-filter">
                <li><a class="categories active" data-filter="*">All</a></li>
                <li><a class="categories" data-filter=".gauge">Gauges</a></li>
                <li><a class="categories" data-filter=".kpi">KPIs</a></li>
                <li><a class="categories" data-filter=".advanced">Advanced Analytics</a></li>
            </ul>
        </div>
        <!-- End work Filter -->
        <div class="row container-grid nf-col-4">
            <div class="nf-item spacing">
                <div class="item-box">
                    <a href="https://store.office.com/en-001/app.aspx?assetid=WA104380838&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">
                        <img alt="1" src="../img/PowerBI/Bowtie_Chart.png" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption text-center">
                                <span class="white ">Displays categorization of a value by branching out smooth interpolated nodes</span>
                            </div>
                        </div>
                    </a>
                </div>
                <h6 class="text-center pt-15"><a href="https://store.office.com/en-001/app.aspx?assetid=WA104380838&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">Bowtie Chart</a></h6>
            </div>

            <div class="nf-item spacing">
                <div class="item-box">
                    <a href="https://store.office.com/en-001/app.aspx?assetid=WA104380836&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">
                        <img alt="1" src="../img/PowerBI/Brick_Chart.png" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption text-center">
                                <span class="white ">Consists of 100 squares that are colored according to the percentage breakdown of your datasets</span>
                            </div>
                        </div>
                    </a>
                </div>
                <h6 class="text-center pt-15"><a href="https://store.office.com/en-001/app.aspx?assetid=WA104380836&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">Brick Chart</a></h6>
            </div>

            <div class="nf-item gauge spacing">
                <div class="item-box">
                    <a href="https://store.office.com/en-001/app.aspx?assetid=WA104380837&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">
                        <img alt="1" src="../img/PowerBI/Circular_Gauge.png" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption text-center">
                                <span class="white ">Illustrate headway toward goals in either a pie or a donut chart format.</span>
                            </div>
                        </div>
                    </a>
                </div>
                <h6 class="text-center pt-15"><a href="https://store.office.com/en-001/app.aspx?assetid=WA104380837&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">Circular Gauge</a></h6>
            </div>



            <div class="nf-item gauge spacing">
                <div class="item-box">
                    <a href="https://store.office.com/en-001/app.aspx?assetid=WA104380874&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">
                        <img alt="1" src="../img/PowerBI/Cylindrical_Gauge.png" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption text-center">
                                <span class="white ">Track current values against a target with an intuitive 3D cylinder visual</span>
                            </div>
                        </div>
                    </a>
                </div>
                <h6 class="text-center pt-15"><a href="https://store.office.com/en-001/app.aspx?assetid=WA104380874&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">Cynlindrical Gauge</a></h6>
            </div>

            <div class="nf-item advanced spacing">
                <div class="item-box">
                    <a href="https://store.office.com/en-001/app.aspx?assetid=WA104381101&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">
                        <img alt="1" src="../img/PowerBI/Dot_Plot.png" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption text-center">
                                <span class="white ">This visual is used to display distribution using dots among multiple categories.</span>
                            </div>
                        </div>
                    </a>
                </div>
                <h6 class="text-center pt-15"><a href="https://store.office.com/en-001/app.aspx?assetid=WA104381101&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">Dot Plot</a></h6>
            </div>

            <div class="nf-item photo spacing">
                <div class="item-box">
                    <a href="https://store.office.com/en-001/app.aspx?assetid=WA104380983&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">
                        <img alt="1" src="../img/PowerBI/Dynamic_Tooltip.png" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption text-center">
                                <span class="white ">Increase your audience’s understanding of your data by adding data to your visuals.</span>
                            </div>
                        </div>
                    </a>
                </div>
                <h6 class="text-center pt-15"><a href="https://store.office.com/en-001/app.aspx?assetid=WA104380983&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">Dynamic Tooltip</a></h6>
            </div>

            <div class="nf-item design spacing">
                <div class="item-box">
                    <a href="https://store.office.com/en-001/app.aspx?assetid=WA104380825&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">
                        <img alt="1" src="../img/PowerBI/Grid.png" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption text-center">
                                <span class="white ">Easy to use control with pagination, sorting and GET Rest API call functionality</span>
                            </div>
                        </div>
                    </a>
                </div>
                <h6 class="text-center pt-15"><a href="https://store.office.com/en-001/app.aspx?assetid=WA104380825&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">Grid</a></h6>
            </div>

            <div class="nf-item advanced spacing">
                <div class="item-box">
                    <a href="https://store.office.com/en-001/app.aspx?assetid=WA104381032&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">
                        <img alt="1" src="../img/PowerBI/Histogram.png" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption text-center">
                                <span class="white ">Combines benefits of showing distribution along with actual values</span>
                            </div>
                        </div>
                    </a>
                </div>
                <h6 class="text-center pt-15"><a href="https://store.office.com/en-001/app.aspx?assetid=WA104381032&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">Histogram</a></h6>
            </div>

            <div class="nf-item design spacing">
                <div class="item-box">
                    <a href="https://store.office.com/en-001/app.aspx?assetid=WA104380846&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">
                        <img alt="1" src="../img/PowerBI/Horizontal_Funnel.png" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption text-center">
                                <span class="white ">Allows you to visualize customizable primary measure as colored bars.</span>
                            </div>
                        </div>
                    </a>
                </div>
                <h6 class="text-center pt-15"><a href="https://store.office.com/en-001/app.aspx?assetid=WA104380846&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">Horizontal Funnel</a></h6>
            </div>

            <div class="nf-item design spacing">
                <div class="item-box">
                    <a href="https://store.office.com/en-001/app.aspx?assetid=WA104380989&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">
                        <img alt="1" src="../img/PowerBI/Journey_Chart.png" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption text-center">
                                <span class="white ">Transform dense statistical data into clear networks of categories and relationships</span>
                            </div>
                        </div>
                    </a>
                </div>
                <h6 class="text-center pt-15"><a href="https://store.office.com/en-001/app.aspx?assetid=WA104380989&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">Journey Chart</a></h6>
            </div>

            <div class="nf-item kpi advanced spacing">
                <div class="item-box">
                    <a href="https://store.office.com/en-001/app.aspx?assetid=WA104380996&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">
                        <img alt="1" src="../img/PowerBI/KPI_Column.png" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption text-center">
                                <span class="white ">Here is a column chart where each column will behave as an indicator when compared with a line</span>
                            </div>
                        </div>
                    </a>
                </div>
                <h6 class="text-center pt-15"><a href="https://store.office.com/en-001/app.aspx?assetid=WA104380996&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">KPI Column</a></h6>
            </div>

            <div class="nf-item kpi spacing">
                <div class="item-box">
                    <a href="https://store.office.com/en-001/app.aspx?assetid=WA104380947&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">
                        <img alt="1" src="../img/PowerBI/KPI_Grid.png" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption text-center">
                                <span class="white ">Display data in hierarchical order, with options to separate categories and illustrate trends</span>
                            </div>
                        </div>
                    </a>
                </div>
                <h6 class="text-center pt-15"><a href="https://store.office.com/en-001/app.aspx?assetid=WA104380947&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">KPI Grid</a></h6>
            </div>

            <div class="nf-item kpi spacing">
                <div class="item-box">
                    <a href="https://store.office.com/en-001/app.aspx?assetid=WA104380946&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">
                        <img alt="1" src="../img/PowerBI/KPI_Ticker.png" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption text-center">
                                <span class="white "> Automatically flipping visual that allows you to view various metrics along with trend indicators</span>
                            </div>
                        </div>
                    </a>
                </div>
                <h6 class="text-center pt-15"><a href="https://store.office.com/en-001/app.aspx?assetid=WA104380838&ui=en-US&rs=en-001&ad=US&appredirect=false">KPI Ticker</a></h6>
            </div>
            <div class="nf-item gauge spacing">
                <div class="item-box">
                    <a href="https://store.office.com/en-001/app.aspx?assetid=WA104380821&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">
                        <img alt="1" src="../img/PowerBI/Linear_Gauge.png" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption text-center">
                                <span class="white ">Create at-a-glance visualization to compare your progress against identified goals and warning zones</span>
                            </div>
                        </div>
                    </a>
                </div>
                <h6 class="text-center pt-15"><a href="https://store.office.com/en-001/app.aspx?assetid=WA104380821&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">Linear Gauge</a></h6>
            </div>
            <div class="nf-item spacing">
                <div class="item-box">
                    <a href="https://store.office.com/en-001/app.aspx?assetid=WA104381011&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">
                        <img alt="1" src="../img/PowerBI/Quadrant_Chart.png" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption text-center">
                                <span class="white ">Represent data in separate quadrants to show distribution of data and items that share common traits</span>
                            </div>
                        </div>
                    </a>
                </div>
                <h6 class="text-center pt-15"><a href="https://store.office.com/en-001/app.aspx?assetid=WA104381011&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">Quadrant Chart</a></h6>
            </div>
            <div class="nf-item sales prod spacing">
                <div class="item-box">
                    <a href="https://store.office.com/en-001/app.aspx?assetid=WA104380824&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">
                        <img alt="1" src="../img/PowerBI/Ring_Chart.png" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption text-center">
                                <span class="white ">Used to represent data as slices where sizes are relative to data</span>
                            </div>
                        </div>
                    </a>
                </div>
                <h6 class="text-center pt-15"><a href="https://store.office.com/en-001/app.aspx?assetid=WA104380824&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">Ring Chart</a></h6>
            </div>
            <div class="nf-item spacing">
                <div class="item-box">
                    <a href="https://store.office.com/en-001/app.aspx?assetid=WA104381007&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">
                        <img alt="1" src="../img/PowerBI/Rotating_Chart.png" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption text-center">
                                <span class="white ">Automatically flipping chart with a set frequency to display different KPIs in each flip</span>
                            </div>
                        </div>
                    </a>
                </div>
                <h6 class="text-center pt-15"><a href="https://store.office.com/en-001/app.aspx?assetid=WA104381007&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">Rotating Chart</a></h6>
            </div>
            <div class="nf-item spacing">
                <div class="item-box">
                    <a href="https://store.office.com/en-001/app.aspx?assetid=WA104380877&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">
                        <img alt="1" src="../img/PowerBI/Rotating_Tile.png" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption text-center">
                                <span class="white ">Automatically flipping tile with a set frequency which can be used to display different KPIs</span>
                            </div>
                        </div>
                    </a>
                </div>
                <h6 class="text-center pt-15"><a href="https://store.office.com/en-001/app.aspx?assetid=WA104380877&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">Rotating Tile</a></h6>
            </div>
            <div class="nf-item spacing">
                <div class="item-box">
                    <a href="https://store.office.com/en-001/app.aspx?assetid=WA104380826&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">
                        <img alt="1" src="../img/PowerBI/Text_Wrapper.png" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption text-center">
                                <span class="white ">Wraps a static text string (statement) along with a dynamic text field value</span>
                            </div>
                        </div>
                    </a>
                </div>
                <h6 class="text-center pt-15"><a href="https://store.office.com/en-001/app.aspx?assetid=WA104380826&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">Text Wrapper</a></h6>
            </div>
            <div class="nf-item gauge spacing">
                <div class="item-box">
                    <a href="https://store.office.com/en-001/app.aspx?assetid=WA104380847&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">
                        <img alt="1" src="../img/PowerBI/Thermometer.png" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption text-center">
                                <span class="white ">This chart shows a graphical representation of value against threshold</span>
                            </div>
                        </div>
                    </a>
                </div>
                <h6 class="text-center pt-15"><a href="https://store.office.com/en-001/app.aspx?assetid=WA104380847&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">Thermometer</a></h6>
            </div>
            <div class="nf-item  spacing">
                <div class="item-box">
                    <a href="https://store.office.com/en-001/app.aspx?assetid=WA104380823&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">
                        <img alt="1" src="../img/PowerBI/Stock_Chart.png" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption text-center">
                                <span class="white ">Displays significant stock price points as colored vertical bars</span>
                            </div>
                        </div>
                    </a>
                </div>
                <h6 class="text-center pt-15"><a href="https://store.office.com/en-001/app.aspx?assetid=WA104380823&ui=en-US&rs=en-001&ad=US&appredirect=false" target="_blank">Trading Chart</a></h6>
            </div>
        </div>

    </div>

</section>
<!-- End Work Detail Section -->
<section class="ptb ptb-sm-80">
    <div class="container text-center">
        <h3>Case Studies</h3>
        <div class="spacer-60"></div>
        <!--Team Carousel -->
        <div class="row">
            <div class="owl-carousel team-carousel nf-carousel-theme">

                <div class="item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="../img/team/people-1.jpg" alt="" />
                            <div class="team-item-detail">
                                <div class="team-item-detail-inner light-color">
                                    <h5>Case Study 1</h5>
                                    <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                    <ul class="social">
                                        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team-item-info">
                            <h5>Case Study 1</h5>
                            <p class="">Tagline</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="../img/team/people-2.jpg" alt="" />
                            <div class="team-item-detail">
                                <div class="team-item-detail-inner light-color">
                                    <h5>Case Study 2</h5>
                                    <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                    <ul class="social">
                                        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team-item-info">
                            <h5>Case Study 2</h5>
                            <p class="">Tagline</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="../img/team/people-3.jpg" alt="" />
                            <div class="team-item-detail">
                                <div class="team-item-detail-inner light-color">
                                    <h5>Case Study 3</h5>
                                    <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                    <ul class="social">
                                        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team-item-info">
                            <h5>Case Study 3</h5>
                            <p class="">Tag Line</p>
                        </div>
                    </div>
                </div>



            </div>
        </div>
        <!--End Team Carousel --->
    </div>
</section>
<!-- End Team -->